In [1]:
#AIT 726-DL1
#Professor: Dr. Lindi Liao
#Project Proposed Solution
#Title: LLMs for Software Engineering -- Code Generation Using LLMs and Evaluation
#Project Team 5
#Mukesh Rajmohan - G01456275
#Utkarsh Jayesh Desai - G01419940
#Praneeth Ravirala - G01448129

In [2]:
#Importing Required Libraries
import torch
from transformers import BertForSequenceClassification, BertTokenizer, AdamW
from torch.utils.data import DataLoader, TensorDataset, RandomSampler
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import defaultdict
from transformers import T5Tokenizer, T5ForConditionalGeneration

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#Importing the dataset
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sql_code_dataset.csv')

In [5]:
#Defining Function to Identify SQL Components in the Target Query
def identify_sql_components(answer):
    components = []
    if 'SELECT' in answer:
      components.append('SELECT')
    if 'FROM' in answer:
      components.append('FROM')
    if 'WHERE' in answer:
      components.append('WHERE')
    if 'ORDER BY' in answer:
      components.append('ORDER BY')
    if 'GROUP BY' in answer:
      components.append('GROUP BY')
    return components

In [6]:
#Function to Extract 'SELECT' Detail in the Target Query
def extract_select_details(answer):
    if 'SELECT' in answer and 'FROM' in answer:
        return answer.split('FROM')[0].replace('SELECT', '').strip()
    return ''

In [7]:
#Function to Extract 'FROM' Detail in the Target Query
def extract_from_details(answer):
    if 'FROM' in answer:
        parts = answer.split('FROM')[1].split('WHERE')[0] if 'WHERE' in answer else answer.split('FROM')[1]
        return parts.split()[0].strip()
    return ''

In [8]:
#Function to Extract 'WHERE' Detail in the Target Query
def extract_where_details(answer):
    if 'WHERE' in answer:
        return answer.split('WHERE')[1].split('ORDER BY')[0] if 'ORDER BY' in answer else answer.split('WHERE')[1]
    return ''

In [9]:
#Function to Extract 'ORDER BY' Detail in the Target Query
def extract_order_by_details(answer):
    if 'ORDER BY' in answer:
        return answer.split('ORDER BY')[1].split('GROUP BY')[0].strip() if 'GROUP BY' in answer else answer.split('ORDER BY')[1].strip()
    return ''

In [10]:
#Function to Extract 'GROUP BY' Detail in the Target Query
def extract_group_by_details(answer):
    if 'GROUP BY' in answer:
        return answer.split('GROUP BY')[1].strip()
    return ''

In [11]:
#Applying all the functions to our dataset and retrieving as features
def preprocess_data(data):
    data['sql_components'] = data['answer'].apply(identify_sql_components)
    data['select_columns'] = data['answer'].apply(extract_select_details)
    data['from_tables'] = data['answer'].apply(extract_from_details)
    data['where_conditions'] = data['answer'].apply(extract_where_details)
    data['order_by_columns'] = data['answer'].apply(extract_order_by_details)
    data['group_by_columns'] = data['answer'].apply(extract_group_by_details)
    return data
preprocess_data(data)

,question,context,answer,sql_components,select_columns,from_tables,where_conditions,order_by_columns,group_by_columns
0,How many heads of the departments are older th...,CREATE TABLE head (age INTEGER),SELECT COUNT(*) FROM head WHERE age > 56,"[SELECT, FROM, WHERE]",COUNT(*),head,age > 56,,
1,"List the name, born state and age of the heads...","CREATE TABLE head (name VARCHAR, born_state VA...","SELECT name, born_state, age FROM head ORDER B...","[SELECT, FROM, ORDER BY]","name, born_state, age",head,,age,
2,"List the creation year, name and budget of eac...","CREATE TABLE department (creation VARCHAR, nam...","SELECT creation, name, budget_in_billions FROM...","[SELECT, FROM]","creation, name, budget_in_billions",department,,,
3,What are the maximum and minimum budget of the...,CREATE TABLE department (budget_in_billions IN...,"SELECT MAX(budget_in_billions), MIN(budget_in_...","[SELECT, FROM]","MAX(budget_in_billions), MIN(budget_in_billions)",department,,,
4,What is the average number of employees of the...,CREATE TABLE department (num_employees INTEGER...,SELECT AVG(num_employees) FROM department WHER...,"[SELECT, FROM, WHERE]",AVG(num_employees),department,ranking BETWEEN 10 AND 15,,
...,...,...,...,...,...,...,...,...,...
78572,What time was the match played with a score of...,"CREATE TABLE table_name_35 (time VARCHAR, scor...","SELECT time FROM table_name_35 WHERE score = ""...","[SELECT, FROM, WHERE]",time,table_name_35,"score = ""3-2""",,
78573,On which ground did the team play Aston Villa?,"CREATE TABLE table_name_83 (ground VARCHAR, op...",SELECT ground FROM table_name_83 WHERE opponen...,"[SELECT, FROM, WHERE]",ground,table_name_83,"opponent = ""aston villa""",,
78574,What kind of competition was it at San Siro at...,CREATE TABLE table_name_60 (competition VARCHA...,SELECT competition FROM table_name_60 WHERE gr...,"[SELECT, FROM, WHERE]",competition,table_name_60,"ground = ""san siro"" AND time = ""18:30 gmt""",,
78575,What is the total number of decile for the red...,"CREATE TABLE table_name_34 (decile VARCHAR, na...",SELECT COUNT(decile) FROM table_name_34 WHERE ...,"[SELECT, FROM, WHERE]",COUNT(decile),table_name_34,"name = ""redwood school""",,
78576,Which report includes a Circuit of Tripoli?,"CREATE TABLE table_name_71 (report VARCHAR, ci...",SELECT report FROM table_name_71 WHERE circuit...,"[SELECT, FROM, WHERE]",report,table_name_71,"circuit = ""tripoli""",,

In [12]:
#Top Rows of the data after Extracting SQL components and their corresponding details
data.head()

,question,context,answer,sql_components,select_columns,from_tables,where_conditions,order_by_columns,group_by_columns
0,How many heads of the departments are older th...,CREATE TABLE head (age INTEGER),SELECT COUNT(*) FROM head WHERE age > 56,"[SELECT, FROM, WHERE]",COUNT(*),head,age > 56,,
1,"List the name, born state and age of the heads...","CREATE TABLE head (name VARCHAR, born_state VA...","SELECT name, born_state, age FROM head ORDER B...","[SELECT, FROM, ORDER BY]","name, born_state, age",head,,age,
2,"List the creation year, name and budget of eac...","CREATE TABLE department (creation VARCHAR, nam...","SELECT creation, name, budget_in_billions FROM...","[SELECT, FROM]","creation, name, budget_in_billions",department,,,
3,What are the maximum and minimum budget of the...,CREATE TABLE department (budget_in_billions IN...,"SELECT MAX(budget_in_billions), MIN(budget_in_...","[SELECT, FROM]","MAX(budget_in_billions), MIN(budget_in_billions)",department,,,
4,What is the average number of employees of the...,CREATE TABLE department (num_employees INTEGER...,SELECT AVG(num_employees) FROM department WHER...,"[SELECT, FROM, WHERE]",AVG(num_employees),department,ranking BETWEEN 10 AND 15,,

In [14]:
#Joining Components as labels for training
labels = [' | '.join(components) for components in data['sql_components']]

In [15]:
#Displaying top rows of updated dataset
data

,question,context,answer,sql_components,select_columns,from_tables,where_conditions,order_by_columns,group_by_columns
0,How many heads of the departments are older th...,CREATE TABLE head (age INTEGER),SELECT COUNT(*) FROM head WHERE age > 56,"[SELECT, FROM, WHERE]",COUNT(*),head,age > 56,,
1,"List the name, born state and age of the heads...","CREATE TABLE head (name VARCHAR, born_state VA...","SELECT name, born_state, age FROM head ORDER B...","[SELECT, FROM, ORDER BY]","name, born_state, age",head,,age,
2,"List the creation year, name and budget of eac...","CREATE TABLE department (creation VARCHAR, nam...","SELECT creation, name, budget_in_billions FROM...","[SELECT, FROM]","creation, name, budget_in_billions",department,,,
3,What are the maximum and minimum budget of the...,CREATE TABLE department (budget_in_billions IN...,"SELECT MAX(budget_in_billions), MIN(budget_in_...","[SELECT, FROM]","MAX(budget_in_billions), MIN(budget_in_billions)",department,,,
4,What is the average number of employees of the...,CREATE TABLE department (num_employees INTEGER...,SELECT AVG(num_employees) FROM department WHER...,"[SELECT, FROM, WHERE]",AVG(num_employees),department,ranking BETWEEN 10 AND 15,,
...,...,...,...,...,...,...,...,...,...
78572,What time was the match played with a score of...,"CREATE TABLE table_name_35 (time VARCHAR, scor...","SELECT time FROM table_name_35 WHERE score = ""...","[SELECT, FROM, WHERE]",time,table_name_35,"score = ""3-2""",,
78573,On which ground did the team play Aston Villa?,"CREATE TABLE table_name_83 (ground VARCHAR, op...",SELECT ground FROM table_name_83 WHERE opponen...,"[SELECT, FROM, WHERE]",ground,table_name_83,"opponent = ""aston villa""",,
78574,What kind of competition was it at San Siro at...,CREATE TABLE table_name_60 (competition VARCHA...,SELECT competition FROM table_name_60 WHERE gr...,"[SELECT, FROM, WHERE]",competition,table_name_60,"ground = ""san siro"" AND time = ""18:30 gmt""",,
78575,What is the total number of decile for the red...,"CREATE TABLE table_name_34 (decile VARCHAR, na...",SELECT COUNT(decile) FROM table_name_34 WHERE ...,"[SELECT, FROM, WHERE]",COUNT(decile),table_name_34,"name = ""redwood school""",,
78576,Which report includes a Circuit of Tripoli?,"CREATE TABLE table_name_71 (report VARCHAR, ci...",SELECT report FROM table_name_71 WHERE circuit...,"[SELECT, FROM, WHERE]",report,table_name_71,"circuit = ""tripoli""",,

In [16]:
data['labels']=labels
data['labels'].head(10)

0                  SELECT | FROM | WHERE
1               SELECT | FROM | ORDER BY
2                          SELECT | FROM
3                          SELECT | FROM
4                  SELECT | FROM | WHERE
5                  SELECT | FROM | WHERE
6                  SELECT | FROM | WHERE
7               SELECT | FROM | GROUP BY
8    SELECT | FROM | ORDER BY | GROUP BY
9                  SELECT | FROM | WHERE
Name: labels, dtype: object

In [17]:
data['labels'].unique()

array(['SELECT | FROM | WHERE', 'SELECT | FROM | ORDER BY',
       'SELECT | FROM', 'SELECT | FROM | GROUP BY',
       'SELECT | FROM | ORDER BY | GROUP BY',
       'SELECT | FROM | WHERE | ORDER BY',
       'SELECT | FROM | WHERE | GROUP BY',
       'SELECT | FROM | WHERE | ORDER BY | GROUP BY'], dtype=object)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78577 entries, 0 to 78576
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   question          78577 non-null  object
 1   context           78577 non-null  object
 2   answer            78577 non-null  object
 3   sql_components    78577 non-null  object
 4   select_columns    78577 non-null  object
 5   from_tables       78577 non-null  object
 6   where_conditions  78577 non-null  object
 7   order_by_columns  78577 non-null  object
 8   group_by_columns  78577 non-null  object
 9   labels            78577 non-null  object
dtypes: object(10)
memory usage: 6.0+ MB

In [19]:
#Taking Subset of dataset containing 5000 samples
data=data.sample(5000)

In [ ]:
#Splitting into Training and Testing
#X contains Question and Context
#Y contains Sql components
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data[['question','context']], data['labels'], test_size=0.2, random_state=42)

In [ ]:
context_train=x_train['context']
context_test=x_test['context']
x_train=x_train['question']
x_test=x_test['question']

In [ ]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [ ]:
#Defining T5 Transformer Model and its tokenizer for encoding and decoding operations.
T5Tokenizer = T5Tokenizer.from_pretrained('t5-base')
T5Model = T5ForConditionalGeneration.from_pretrained('t5-base').to(device)
#Tokenising input "question" and "context" pair into tokens and encoding tokens for both training and testing datasets.
x_train_encoded = T5Tokenizer(x_train.tolist(), context_train.tolist(), padding=True, truncation=True, return_tensors='pt', max_length=512)
x_test_encoded = T5Tokenizer(x_test.tolist(), context_test.tolist(), padding=True, truncation=True, return_tensors='pt', max_length=512)
#Similarily tokenising and encoding the train label
y_train_encoded = T5Tokenizer(y_train.tolist(),padding=True, truncation=True, return_tensors='pt', max_length=512)
#Defining Optimizer to update the weights and minimising the loss function
T5_Model_optimizer = torch.optim.AdamW(T5Model.parameters(), lr=2e-5)
#Transform the input and label pair to a tensor dataset supported by pytorch
Train_Data_Transform = TensorDataset(x_train_encoded['input_ids'], x_train_encoded['attention_mask'],y_train_encoded['input_ids'])
#Randomly Sample the dataset to batches for parallel processing based on given batch size
Train_Data_Sampler = RandomSampler(Train_Data_Transform)
Train_Data_Loader = DataLoader(Train_Data_Transform, sampler=Train_Data_Sampler, batch_size=8)
# Defining the training function which does the following:
# Set Epochs to 2
#Iterating through batches
#For each batch computing weights based on input_id, attention_mask and label of that corresponding batch
#computing loss function for the corresponding batch
#computing gradient and updating weights by backpropogating to minimize overall loss function.
T5Model.train()
for i in range(2):
    epoch_loss = 0
    for batch in Train_Data_Loader:
        input_id_train=batch[0].to(device)
        attention_mask_train=batch[1].to(device)
        label_train = batch[2].to(device)
        model_outputs = T5Model(input_id_train, attention_mask=attention_mask_train, labels=label_train)
        batch_loss = model_outputs.loss
        epoch_loss = epoch_loss+batch_loss.item()
        batch_loss.backward()
        T5_Model_optimizer.step()
        T5Model.zero_grad()
        torch.cuda.empty_cache()
    Average_Epoch_Loss = epoch_loss / len(Train_Data_Loader)
    print('Epoch '+str(i)+' Loss = '+str(Average_Epoch_Loss))

Epoch 0 Loss = 0.5315563783270773
Epoch 1 Loss = 0.020968087995075622

In [ ]:
#Taking Subset of Test Sentences
x_test_encoded1=x_test_encoded[:500]
T5Model.eval()
with torch.no_grad():
    all_outputs = []
    for i in range(500):
        generated_output = T5Model.generate(
            input_ids=x_test_encoded1['input_ids'][i:i+1].to(device),
            attention_mask=x_test_encoded1['attention_mask'][i:i+1].to(device),
            max_length=100,
            num_beams=5,
            early_stopping=True
        )
        all_outputs.append(generated_output)
        torch.cuda.empty_cache()
#Predicting SQl components based on given question and context
#With this Stage 1 SQL Component Identification is done
predicted_code0=[]
for i in all_outputs:
  pred=T5Tokenizer.decode(i[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
  predicted_code0.append(pred)
for input_text, code in zip(y_test, predicted_code0):
    print(f"Input: {input_text}\nGenerated Code:\n{code}\n")

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | ORDER BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | ORDER BY | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | ORDER BY | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | ORDER BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | ORDER BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | ORDER BY | GROUP BY
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:
SELECT | FROM | WHERE

Input: SELECT | FROM | WHERE
Generated Code:

In [20]:
#Stage 2:
#Dividing the Filling SQL Query process into subtasks
subtasks = ["select_columns", "from_tables", "where_conditions","order_by_columns","group_by_columns"]

#Filling Details of each subtask(sql component) into respective lists

select_data = []
from_data = []
where_data = []
order_by_data = []
group_by_data = []

#Iterating through dataset and retriving corresponding lists containing fill component, question and detail of the component.
for subtask in subtasks:
    for _, row in data.iterrows():
        input_text = f"Fill {subtask}: {row['question']} | {row['context']} | {row['sql_components']}"
        target_text = row[subtask] if not pd.isna(row[subtask]) else "NULL"
        entry = {"input": input_text, "label": target_text}

        if subtask == "select_columns":
            select_data.append(entry)
        elif subtask == "from_tables":
            from_data.append(entry)
        elif subtask == "where_conditions":
            where_data.append(entry)
        elif subtask == "order_by_columns":
            order_by_data.append(entry)
        elif subtask == "group_by_columns":
            group_by_data.append(entry)

#Converting Subtask lists into respective datasets for training and testing seperately
select_df = pd.DataFrame(select_data)
from_df = pd.DataFrame(from_data)
where_df = pd.DataFrame(where_data)
order_by_df = pd.DataFrame(order_by_data)
group_by_df = pd.DataFrame(group_by_data)

In [21]:
data1=select_df
data2=from_df
data3=where_df
data4=order_by_df
data5=group_by_df

print(data1.head(1))
print(data2.head(1))
print(data3.head(1))
print(data4.head(1))
print(data5.head(1))

                                               input   label
0  Fill select_columns: Who is the rookie goalkee...  rookie
                                               input          label
0  Fill from_tables: Who is the rookie goalkeeper...  table_name_70
                                               input  \
0  Fill where_conditions: Who is the rookie goalk...

                        label
0   goalkeeper = "mike gabel"
                                               input label
0  Fill order_by_columns: Who is the rookie goalk...
                                               input label
0  Fill group_by_columns: Who is the rookie goalk...

In [ ]:
#Splitting 'SELECT' dataset into train and test
from sklearn.model_selection import train_test_split
x1_train, x1_test, y1_train, y1_test = train_test_split(data1['input'],
                                                    data1['label'], test_size=0.2, random_state=42)

In [ ]:
#Splitting 'FROM' dataset into train and test
from sklearn.model_selection import train_test_split
x2_train, x2_test, y2_train, y2_test = train_test_split(data2['input'],
                                                    data2['label'], test_size=0.2, random_state=42)

In [ ]:
#Splitting 'WHERE' dataset into train and test
from sklearn.model_selection import train_test_split
x3_train, x3_test, y3_train, y3_test = train_test_split(data3['input'],
                                                    data3['label'], test_size=0.2, random_state=42)

In [ ]:
#Splitting 'ORDER BY' dataset into train and test
from sklearn.model_selection import train_test_split
x4_train, x4_test, y4_train, y4_test = train_test_split(data4['input'],
                                                    data4['label'], test_size=0.2, random_state=42)

In [ ]:
#Splitting 'GROUP BY' dataset into train and test
from sklearn.model_selection import train_test_split
x5_train, x5_test, y5_train, y5_test = train_test_split(data5['input'],
                                                    data5['label'], test_size=0.2, random_state=42)

In [ ]:
#Encoding 'Train and Test' of 'SELECT' dataset using T5 Tokenizer
x1_train_encoded = T5Tokenizer(x1_train.tolist(), padding=True, truncation=True,
                              return_tensors='pt', max_length=512)
x1_test_encoded = T5Tokenizer(x1_test.tolist(), padding=True, truncation=True,
                             return_tensors='pt', max_length=512)
y1_train_encoded = T5Tokenizer(y1_train.tolist(),padding=True, truncation=True, return_tensors='pt', max_length=512)

In [ ]:
#Encoding 'Train and Test' of 'FROM' dataset using T5 Tokenizer
x2_train_encoded = T5Tokenizer(x2_train.tolist(), padding=True, truncation=True,
                              return_tensors='pt', max_length=512)
x2_test_encoded = T5Tokenizer(x2_test.tolist(), padding=True, truncation=True,
                             return_tensors='pt', max_length=512)
y2_train_encoded = T5Tokenizer(y2_train.tolist(),padding=True, truncation=True, return_tensors='pt', max_length=512)

In [ ]:
#Encoding 'Train and Test' of 'WHERE' dataset using T5 Tokenizer
x3_train_encoded = T5Tokenizer(x3_train.tolist(), padding=True, truncation=True,
                              return_tensors='pt', max_length=512)
x3_test_encoded = T5Tokenizer(x3_test.tolist(), padding=True, truncation=True,
                             return_tensors='pt', max_length=512)
y3_train_encoded = T5Tokenizer(y3_train.tolist(),padding=True, truncation=True, return_tensors='pt', max_length=512)

In [ ]:
#Encoding 'Train and Test' of 'ORDER BY' dataset using T5 Tokenizer
x4_train_encoded = T5Tokenizer(x4_train.tolist(), padding=True, truncation=True,
                              return_tensors='pt', max_length=512)
x4_test_encoded = T5Tokenizer(x4_test.tolist(), padding=True, truncation=True,
                             return_tensors='pt', max_length=512)
y4_train_encoded = T5Tokenizer(y4_train.tolist(),padding=True, truncation=True, return_tensors='pt', max_length=512)

In [ ]:
#Encoding 'Train and Test' of 'GROUP BY' dataset using T5 Tokenizer
x5_train_encoded = T5Tokenizer(x5_train.tolist(), padding=True, truncation=True,
                              return_tensors='pt', max_length=512)
x5_test_encoded = T5Tokenizer(x5_test.tolist(), padding=True, truncation=True,
                             return_tensors='pt', max_length=512)
y5_train_encoded = T5Tokenizer(y5_train.tolist(),padding=True, truncation=True, return_tensors='pt', max_length=512)

Stage2:

Training and Predicting Select Fill detail

In [ ]:
#Transforming and Defining Model Parameters
Transform_Train_Tensor = TensorDataset(x1_train_encoded['input_ids'], x1_train_encoded['attention_mask'],
                                       y1_train_encoded['input_ids'])
Sample_Train_Tensor = RandomSampler(Transform_Train_Tensor)
Load_Train_Batches = DataLoader(Transform_Train_Tensor, sampler=Sample_Train_Tensor, batch_size=8)
T5ModelOptimizer = torch.optim.AdamW(T5Model.parameters(), lr=2e-5)

In [ ]:
#Training 'SELECT' dataset with T5 with similar functionality as mentioned before.
T5Model.train()
for i in range(2):
    epoch_loss = 0
    for batch in Load_Train_Batches:
        input_id_train=batch[0].to(device)
        attention_mask_train=batch[1].to(device)
        label_train = batch[2].to(device)
        model_outputs = T5Model(input_id_train, attention_mask=attention_mask_train, labels=label_train)
        batch_loss = model_outputs.loss
        epoch_loss = epoch_loss+batch_loss.item()
        batch_loss.backward()
        T5_Model_optimizer.step()
        T5Model.zero_grad()
        torch.cuda.empty_cache()
    Average_Epoch_Loss = epoch_loss / len(Load_Train_Batches)
    print('Epoch '+str(i)+' Loss = '+str(Average_Epoch_Loss))

Epoch 0 Loss = 1.185669342212379
Epoch 1 Loss = 0.14307400258630515

In [ ]:
#Taking Subset of test dataset
x1_test_encoded1=x1_test_encoded[:500]
x1_test_encoded1

{'input_ids': tensor([[12607,  1738,   834,  ...,     0,     0,     0],
         [12607,  1738,   834,  ...,     0,     0,     0],
         [12607,  1738,   834,  ...,     0,     0,     0],
         ...,
         [12607,  1738,   834,  ...,     0,     0,     0],
         [12607,  1738,   834,  ...,     0,     0,     0],
         [12607,  1738,   834,  ...,     0,     0,     0]]),
 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         ...,
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0]])}

In [ ]:
#Predicting 'SELECT' fill detail
T5Model.eval()
with torch.no_grad():
    all_outputs = []
    for i in range(500):
        generated_output = T5Model.generate(
            input_ids=x1_test_encoded1['input_ids'][i:i+1].to(device),
            attention_mask=x1_test_encoded1['attention_mask'][i:i+1].to(device),
            max_length=100,
            num_beams=5,
            early_stopping=True
        )
        all_outputs.append(generated_output)
        torch.cuda.empty_cache()

In [ ]:
#Displaying Test fill detail and Predicted fill detail for 'SELECT'
predicted_code1=[]
for i in all_outputs:
  pred=T5Tokenizer.decode(i[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
  predicted_code1.append(pred)
for input_text, code in zip(y1_test, predicted_code1):
    print(f"Input: {input_text}\nGenerated Code:\n{code}\n")

Input: club
Generated Code:
club

Input: illustrator
Generated Code:
illustrator

Input: departure_pune
Generated Code:
departure_pune

Input: nfl_team
Generated Code:
nfl_team

Input: player
Generated Code:
player

Input: MIN(stage)
Generated Code:
stage

Input: weight
Generated Code:
weight

Input: chord
Generated Code:
Chord

Input: city_state
Generated Code:
city_state

Input: income_poverty_f
Generated Code:
income_poverty_f

Input: COUNT(total)
Generated Code:
COUNT(total)

Input: bike
Generated Code:
bike

Input: COUNT(round)
Generated Code:
round

Input: MAX(total)
Generated Code:
COUNT(total)

Input: date
Generated Code:
date

Input: SUM(game)
Generated Code:
MIN(game)

Input: team
Generated Code:
team

Input: location
Generated Code:
location

Input: play_by_play
Generated Code:
studio_host

Input: COUNT(turbine_manufacturer)
Generated Code:
COUNT(turbine_manufacturer)

Input: home_town
Generated Code:
home_town

Input: player
Generated Code:
player

Input: venue
Generated Code:
venue

Input: island
Generated Code:
island

Input: MIN(episode)
Generated Code:
MIN(episode)

Input: driver_s_
Generated Code:
driver_s_

Input: T2.Comptroller
Generated Code:
COMPTroller

Input: release_date
Generated Code:
release_date

Input: MIN(released)
Generated Code:
release

Input: season
Generated Code:
season

Input: AVG(wins)
Generated Code:
AVG(wins)

Input: percent_defective
Generated Code:
percentage_defective

Input: MAX(against)
Generated Code:
INTEGER, venue

Input: date
Generated Code:
date

Input: MAX(laps)
Generated Code:
highest laps

Input: score
Generated Code:
score

Input: date
Generated Code:
date

Input: name, open_date
Generated Code:
name

Input: away_team
Generated Code:
away_team

Input: nation
Generated Code:
nation

Input: opponent
Generated Code:
opponent

Input: institution
Generated Code:
institution

Input: races
Generated Code:
races

Input: season
Generated Code:
season

Input: opponent
Generated Code:
opponent

Input: MAX(year_of_release)
Generated Code:
year_of_release

Input: constructor
Generated Code:
CONSTRUCTOR

Input: COUNT(losses)
Generated Code:
loss

Input: college
Generated Code:
college

Input: location
Generated Code:
location

Input: COUNT(*), T1.name
Generated Code:
COUNT(*)

Input: leading_scorer
Generated Code:
leading_scorer

Input: class
Generated Code:
class

Input: AVG(silver)
Generated Code:
silver

Input: opponent
Generated Code:
opponent

Input: socket
Generated Code:
socket

Input: COUNT(age)
Generated Code:
age

Input: MAX(attendance)
Generated Code:
attendance

Input: COUNT(crowd)
Generated Code:
COUNT(crowd)

Input: school_year
Generated Code:
school_year

Input: COUNT(Ends) AS lost
Generated Code:
Ends

Input: COUNT(team)
Generated Code:
team

Input: third
Generated Code:
third

Input: home
Generated Code:
home

Input: race
Generated Code:
race

Input: money___$__
Generated Code:
money___$__

Input: MAX(1948 AS _49__) AS $_millions_
Generated Code:
COUNT(country)

Input: department
Generated Code:
department

Input: SUM(league) AS Cup
Generated Code:
league

Input: capital
Generated Code:
capital

Input: dimensions
Generated Code:
dimensions

Input: vertical_0_b
Generated Code:
vertical_0_b

Input: position
Generated Code:
position

Input: COUNT(year)
Generated Code:
year

Input: COUNT(gold)
Generated Code:
gold

Input: overall_place
Generated Code:
overall_place

Input: date
Generated Code:
date

Input: runner_s__up
Generated Code:
runner_s__up

Input: Name
Generated Code:
Name

Input: MAX(males_rank)
Generated Code:
males_rank

Input: AVG(rounds)
Generated Code:
round_name_1

Input: date
Generated Code:
date

Input: COUNT(stolen_ends)
Generated Code:
COUNT(stolen_ends)

Input: MAX(rank)
Generated Code:
MIN(rank)

Input: class
Generated Code:
class

Input: player
Generated Code:
player

Input: COUNT(barony)
Generated Code:
barony

Input: time
Generated Code:
time

Input: date
Generated Code:
date

Input: sspec_number
Generated Code:
sspec_number

Input: spending_per_capita
Generated Code:
spending_per_capita

Input: rōmaji
Generated Code:
rmaji

Input: MIN(react)
Generated Code:
REACT

Input: time_retired
Generated Code:
time_retired

Input: opponent_in_the_final
Generated Code:
Opponent_in_the_final

Input: COUNT(qualifying_start_date)
Generated Code:
qualification_start_date

Input: SUM(week)
Generated Code:
week

Input: sample_size
Generated Code:
sample_size

Input: player
Generated Code:
player

Input: T2.lot_id, AVG(amount_of_transaction)
Generated Code:
MAX(lot_id)

Input: COUNT(name)
Generated Code:
name

Input: solo
Generated Code:
solo

Input: date
Generated Code:
date

Input: attendance
Generated Code:
attendance

Input: SUM(enrollment), AVG(enrollment)
Generated Code:
COUNT(enrollment)

Input: winning_driver
Generated Code:
winning_driver

Input: team_s_
Generated Code:
team_s_

Input: COUNT(*)
Generated Code:
COUNT(*)

Input: finish
Generated Code:
finish

Input: kit_manufacturer
Generated Code:
kit_manufacturer

Input: djurgården_scorers
Generated Code:
djurgrden_scorers

Input: T1.Name, T1.population
Generated Code:
name

Input: incumbent
Generated Code:
incumbent

Input: read_by
Generated Code:
read_by

Input: MAX(rank)
Generated Code:
rank

Input: date
Generated Code:
date

Input: time
Generated Code:
time

Input: MIN(laps)
Generated Code:
LAPS

Input: away_team
Generated Code:
away_team

Input: team
Generated Code:
team

Input: COUNT(area_km_2)
Generated Code:
area_km_2

Input: away_team
Generated Code:
away_team

Input: year_opened
Generated Code:
year_opened

Input: winning_score
Generated Code:
winning_score

Input: winner
Generated Code:
winner

Input: winning_driver
Generated Code:
winning_driver

Input: venue
Generated Code:
venue

Input: name
Generated Code:
name

Input: 1 AS st_leg
Generated Code:
team__number1

Input: score
Generated Code:
score

Input: pick__number
Generated Code:
pick__number

Input: rank
Generated Code:
rank

Input: time
Generated Code:
time

Input: COUNT(game)
Generated Code:
game

Input: distance__miles_
Generated Code:
distance__miles_

Input: away_team
Generated Code:
away_team

Input: country
Generated Code:
country

Input: T1.Title, T2.Publication_Date
Generated Code:
title

Input: award
Generated Code:
award

Input: entrant
Generated Code:
entrant

Input: mixed_doubles
Generated Code:
mixed_doubles

Input: COUNT(leg)
Generated Code:
leg

Input: runner_up
Generated Code:
runners_up

Input: MIN(position)
Generated Code:
MIN(position)

Input: traditional
Generated Code:
traditional

Input: no5
Generated Code:
no5

Input: points_against___tests__
Generated Code:
points_against__tests__

Input: validation
Generated Code:
validation

Input: second_member
Generated Code:
second_member

Input: tournament
Generated Code:
tournament

Input: COUNT(matches)
Generated Code:
match(matches)

Input: SUM(pages)
Generated Code:
COUNT(pages)

Input: MAX(laps)
Generated Code:
INTEGER

Input: area
Generated Code:
area

Input: sanskrit
Generated Code:
sanskrit

Input: total
Generated Code:
total

Input: tournament
Generated Code:
tournament

Input: home_team
Generated Code:
home_team

Input: 1991 AS _92
Generated Code:
average

Input: title
Generated Code:
title

Input: director
Generated Code:
director

Input: competition
Generated Code:
competition

Input: mixed_restricted
Generated Code:
mixed_restricted

Input: class
Generated Code:
class

Input: winning_song
Generated Code:
winning_song

Input: player
Generated Code:
player

Input: date
Generated Code:
date

Input: high_assists
Generated Code:
high_assists

Input: res
Generated Code:
resolution

Input: COUNT(rank)
Generated Code:
Rank

Input: record
Generated Code:
record

Input: COUNT(*)
Generated Code:
COUNT(*)

Input: born_died
Generated Code:
born_died

Input: AVG(weight__kg_)
Generated Code:
MIN(weight__kg_)

Input: race_time
Generated Code:
race_time

Input: COUNT(*), address
Generated Code:
COUNT(address)

Input: date
Generated Code:
date

Input: result
Generated Code:
result

Input: position
Generated Code:
position

Input: rank
Generated Code:
rank

Input: SUM(total)
Generated Code:
COUNT(total)

Input: irish_name
Generated Code:
irish_name

Input: language
Generated Code:
language

Input: producer_s_
Generated Code:
producer_s_

Input: COUNT(position)
Generated Code:
position

Input: role
Generated Code:
role

Input: SUM(top_25)
Generated Code:
top_25

Input: Country, COUNT(*)
Generated Code:
country

Input: SUM(reg_gp)
Generated Code:
REG_GP

Input: COUNT(round)
Generated Code:
MIN(round)

Input: 2 AS nd
Generated Code:
2nd

Input: candidates
Generated Code:
candidates

Input: SUM(land___sqmi__)
Generated Code:
land___sqmi_

Input: percent_yes
Generated Code:
percent_yes

Input: original_airdate
Generated Code:
original_airdate

Input: country, COUNT(*)
Generated Code:
COUNT(country)

Input: team
Generated Code:
team

Input: 2002
Generated Code:
2002

Input: MAX(capacity), average
Generated Code:
MAX(average)

Input: source
Generated Code:
source

Input: cfl_team
Generated Code:
cfl_team

Input: T1.id, T1.trade_name
Generated Code:
ID

Input: surface
Generated Code:
surface

Input: district
Generated Code:
district

Input: player
Generated Code:
player

Input: MAX(bronze)
Generated Code:
COUNT(bronze)

Input: award
Generated Code:
award

Input: score
Generated Code:
score

Input: COUNT(score)
Generated Code:
score

Input: opponents
Generated Code:
opponents

Input: COUNT(week)
Generated Code:
week

Input: SUM(took_office)
Generated Code:
MIN(took_office)

Input: AVG(bronze)
Generated Code:
COUNT(bronze)

Input: MAX(_number_of_home_games)
Generated Code:
_number_of_home_games

Input: building
Generated Code:
building

Input: band
Generated Code:
band

Input: T1.Total_Points
Generated Code:
COUNT(Total_Points)

Input: MAX(wins)
Generated Code:
highest wins

Input: left_office
Generated Code:
left_office

Input: record
Generated Code:
record

Input: AVG(grid)
Generated Code:
average

Input: name
Generated Code:
name

Input: 2007
Generated Code:
2007

Input: game_site
Generated Code:
game_site

Input: year_built
Generated Code:
year_built

Input: season
Generated Code:
season

Input: MIN(10), 000 + _places
Generated Code:
_places

Input: date
Generated Code:
date

Input: withdrawn
Generated Code:
withdrawn

Input: status
Generated Code:
status

Input: AVG(points)
Generated Code:
points

Input: leading_scorer
Generated Code:
leading_scorer

Input: date
Generated Code:
date

Input: nationality___opponent
Generated Code:
nationality___opponent

Input: SUM(rank)
Generated Code:
rank

Input: away
Generated Code:
away

Input: champions
Generated Code:
champions

Input: rider
Generated Code:
rider

Input: MAX(number_of_major_hurricanes)
Generated Code:
MAX(number_of_major_hurricanes)

Input: MIN(year)
Generated Code:
MIN(year)

Input: AVG(year_built)
Generated Code:
year_built

Input: issue_price__bu_[_clarification_needed_]
Generated Code:
issue_price__bu_

Input: player
Generated Code:
player

Input: 3 AS rd_liga_3rd
Generated Code:
game_1

Input: AVG(grid)
Generated Code:
grid

Input: driver
Generated Code:
driver

Input: location
Generated Code:
location

Input: name
Generated Code:
name

Input: tournament
Generated Code:
2001

Input: competition
Generated Code:
competition

Input: MIN(year)
Generated Code:
year

Input: original_air_date
Generated Code:
original_air_date

Input: first_elected
Generated Code:
first_elected

Input: COUNT(money___) AS $__
Generated Code:
money___

Input: AVG(wins)
Generated Code:
MIN(wins)

Input: MAX(pl_gp)
Generated Code:
pl_gp

Input: format
Generated Code:
format

Input: score
Generated Code:
score

Input: Product_Name
Generated Code:
MAX(Product_Name)

Input: time
Generated Code:
time

Input: losing_pitcher
Generated Code:
losing_pitcher

Input: T1.organisation_id, COUNT(*)
Generated Code:
organisation_id

Input: english_title__chinese_title_
Generated Code:
english_title__chinese_title_

Input: mls_team
Generated Code:
mls_team

Input: AVG(played)
Generated Code:
PLAYED

Input: us_viewers__millions_
Generated Code:
us_viewers__millions_

Input: MIN(obama_number)
Generated Code:
obama_number

Input: recnet
Generated Code:
RECNET

Input: constructor
Generated Code:
constructor

Input: sydney
Generated Code:
Sydney

Input: COUNT(pos)
Generated Code:
COUNT(pos)

Input: outcome
Generated Code:
outcome

Input: SUM(starts)
Generated Code:
start

Input: race
Generated Code:
race

Input: COUNT(no_in_series)
Generated Code:
no_in_series

Input: title
Generated Code:
title

Input: major_version
Generated Code:
major_version

Input: score
Generated Code:
score

Input: yo
Generated Code:
yo

Input: presentation_of_credentials
Generated Code:
presentation_of_credentials

Input: MIN(year)
Generated Code:
MIN(year)

Input: COUNT(series__number)
Generated Code:
series__number

Input: incumbent
Generated Code:
incumbent

Input: stages
Generated Code:
COUNT(stages)

Input: T1.name, T1.area, T1.population
Generated Code:
name

Input: name
Generated Code:
name

Input: tuesday
Generated Code:
Tuesday

Input: interview
Generated Code:
interview

Input: original_air_date
Generated Code:
original_air_date

Input: MIN(bodyweight)
Generated Code:
bodyweight

Input: MIN(draw)
Generated Code:
draw

Input: number_of_winning_tickets
Generated Code:
number_of_winning_tickets

Input: AVG(silver)
Generated Code:
COUNT(silver)

Input: visitor
Generated Code:
visitor

Input: record
Generated Code:
record

Input: horse
Generated Code:
horse

Input: player
Generated Code:
player

Input: evening_gown
Generated Code:
evening_gown

Input: name, Level_of_membership
Generated Code:
name

Input: DISTINCT T1.customer_first_name, T1.customer_last_name
Generated Code:
customer_first_name

Input: score
Generated Code:
score

Input: right_ascension___j2000__
Generated Code:
right_ascension

Input: player
Generated Code:
player

Input: january_15_16
Generated Code:
january_15_16

Input: gvm__kg__technical_capacity
Generated Code:
GVM__kg__technical_capacity

Input: total_points
Generated Code:
total_points

Input: district_name
Generated Code:
district_name

Input: date
Generated Code:
date

Input: release_price___usd__
Generated Code:
release_price___usd__

Input: vs_terran
Generated Code:
score

Input: COUNT(tckl)
Generated Code:
tckl

Input: player
Generated Code:
player

Input: 1851
Generated Code:
1851

Input: li_fes_2
Generated Code:
LI_FES_2

Input: economy
Generated Code:
economy

Input: 2011
Generated Code:
2011

Input: brand_name
Generated Code:
brand_name

Input: score
Generated Code:
score

Input: date
Generated Code:
date

Input: country
Generated Code:
country

Input: icb_sector
Generated Code:
icb_sector

Input: appliances
Generated Code:
appliance

Input: MAX(game)
Generated Code:
MIN(game)

Input: country
Generated Code:
country

Input: MAX(first_elected)
Generated Code:
first_elected

Input: leagues_entering_at_this_round
Generated Code:
leagues_entering_at_this_round

Input: COUNT(engine)
Generated Code:
engine

Input: MIN(grid)
Generated Code:
MIN(grid)

Input: score
Generated Code:
score

Input: race_status
Generated Code:
race_status

Input: champion
Generated Code:
champion

Input: laps
Generated Code:
laps

Input: COUNT(attendance)
Generated Code:
attendance

Input: AVG(position)
Generated Code:
position

Input: type
Generated Code:
type

Input: represent
Generated Code:
MIN(represent)

Input: team
Generated Code:
team

Input: date
Generated Code:
date

Input: SUM(area__sqdeg_)
Generated Code:
area__sqdeg_

Input: score
Generated Code:
score

Input: district
Generated Code:
district

Input: defending_forces
Generated Code:
defending_forces

Input: location
Generated Code:
location

Input: nhl_team
Generated Code:
nhl_team

Input: MAX(no_of_episodes)
Generated Code:
NO_of_episodes

Input: position
Generated Code:
position

Input: outcome
Generated Code:
outcome

Input: COUNT(*)
Generated Code:
document_with_expenses (Id)

Input: DISTINCT song_name
Generated Code:
SONG_name

Input: position
Generated Code:
position

Input: network
Generated Code:
network

Input: nanquan
Generated Code:
Nanquan

Input: MIN(rr3_pts)
Generated Code:
MIN(rr3_pts)

Input: high_points
Generated Code:
high_points

Input: COUNT(date_of_birth)
Generated Code:
date_of_birth

Input: AVG(crowd)
Generated Code:
average crowd size

Input: result
Generated Code:
result

Input: pole_position
Generated Code:
pole_position

Input: AVG(followers)
Generated Code:
MIN(followers)

Input: player
Generated Code:
player

Input: founded
Generated Code:
founded

Input: director
Generated Code:
director

Input: visitor
Generated Code:
visitor

Input: winning_driver
Generated Code:
winning_driver

Input: MIN(avg_attendance)
Generated Code:
MIN(avg_attendance)

Input: COUNT(headphone_class)
Generated Code:
headphone_class

Input: MIN(cultural_and_educational_panel)
Generated Code:
MIN(cultural_and_educational_panel)

Input: result
Generated Code:
result

Input: MIN(block)
Generated Code:
MIN(block)

Input: MAX(l)
Generated Code:
COUNT(l)

Input: date
Generated Code:
date

Input: score
Generated Code:
score

Input: abbr
Generated Code:
abbreviation

Input: pick__number
Generated Code:
pick__number

Input: w_l_d
Generated Code:
w_l_d

Input: COUNT(2006)
Generated Code:
2006

Input: 1913 AS _class
Generated Code:
lner_class

Input: player
Generated Code:
player

Input: COUNT(established)
Generated Code:
established

Input: kicker
Generated Code:
kicker

Input: score
Generated Code:
score

Input: gp_gs
Generated Code:
gp_gs

Input: SUM(enrollment)
Generated Code:
enrollment

Input: T1.id, T1.name
Generated Code:
flight (id)

Input: away_team
Generated Code:
away_team

Input: points_against
Generated Code:
point_against

Input: label
Generated Code:
label

Input: title
Generated Code:
title

Input: place
Generated Code:
place

Input: venue
Generated Code:
venue

Input: title
Generated Code:
title

Input: current_singles_ranking
Generated Code:
current_singles_ranking

Input: COUNT(*)
Generated Code:
COUNT(name)

Input: entered_service
Generated Code:
ENTER_service

Input: place
Generated Code:
place

Input: COUNT(part_1)
Generated Code:
part_1

Input: nation
Generated Code:
nation

Input: player_name
Generated Code:
player_name

Input: year__ceremony_
Generated Code:
year__ceremony_

Input: league
Generated Code:
league

Input: manufacturer
Generated Code:
manufacturer

Input: max_power_at_rpm
Generated Code:
max_power_at_rpm

Input: COUNT(party)
Generated Code:
party

Input: AVG(wins)
Generated Code:
wins

Input: manner_of_departure
Generated Code:
manner_of_departure

Input: 2009
Generated Code:
COUNT(id)

Input: DISTINCT T2.Name
Generated Code:
Name

Input: COUNT(innings)
Generated Code:
MAX(innings)

Input: opponent
Generated Code:
opponent

Input: crowd
Generated Code:
crowd

Input: round_of_16
Generated Code:
round_of_16

Input: series
Generated Code:
series

Input: entrant
Generated Code:
ENTANT

Input: MAX(laps_led)
Generated Code:
largest laps_led

Input: finalist
Generated Code:
finalist

Input: prefecture
Generated Code:
prefecture

Input: SUM(prominence__m_)
Generated Code:
MIN(prominence__m_)

Input: COUNT(wins)
Generated Code:
wins

Input: score
Generated Code:
score

Input: chassis
Generated Code:
chassis

Input: tonnes
Generated Code:
TUNES

Input: metropolitan_area
Generated Code:
metropolitan_area

Input: COUNT(premier_two)
Generated Code:
PREMIER_two

Input: AVG(game)
Generated Code:
MIN(game)

Input: country
Generated Code:
country

Input: song
Generated Code:
song

Input: COUNT(high_points)
Generated Code:
high_points

Input: result
Generated Code:
result

Input: away_team
Generated Code:
away_team

Input: class
Generated Code:
class

Input: record
Generated Code:
record

Input: constituency_number
Generated Code:
constituency_number

Input: sponsor
Generated Code:
sponsor

Input: high_points
Generated Code:
high_points

Input: date
Generated Code:
date

Input: date
Generated Code:
date

Input: to_par
Generated Code:
to_par

Input: SUM(grid)
Generated Code:
COUNT(grid)

Input: pos

In [ ]:
#Stage2: Training and Predicting FROM Fill detail
#Transforming and Defining Model Parameters
Transform_Train_Tensor = TensorDataset(x2_train_encoded['input_ids'], x2_train_encoded['attention_mask'],
                                       y2_train_encoded['input_ids'])
Sample_Train_Tensor = RandomSampler(Transform_Train_Tensor)
Load_Train_Batches = DataLoader(Transform_Train_Tensor, sampler=Sample_Train_Tensor, batch_size=8)
T5ModelOptimizer = torch.optim.AdamW(T5Model.parameters(), lr=2e-5)

In [ ]:
#Training 'FROM' dataset with T5 with similar functionality as mentioned before.
T5Model.train()
for i in range(2):
    epoch_loss = 0
    for batch in Load_Train_Batches:
        input_id_train=batch[0].to(device)
        attention_mask_train=batch[1].to(device)
        label_train = batch[2].to(device)
        model_outputs = T5Model(input_id_train, attention_mask=attention_mask_train, labels=label_train)
        batch_loss = model_outputs.loss
        epoch_loss = epoch_loss+batch_loss.item()
        batch_loss.backward()
        T5_Model_optimizer.step()
        T5Model.zero_grad()
        torch.cuda.empty_cache()
    Average_Epoch_Loss = epoch_loss / len(Load_Train_Batches)
    print('Epoch '+str(i)+' Loss = '+str(Average_Epoch_Loss))

Epoch 0 Loss = 0.03302684563607909
Epoch 1 Loss = 0.011325780261890031

In [ ]:
#Taking Subset of test dataset
x2_test_encoded1=x2_test_encoded[:500]
x2_test_encoded1

{'input_ids': tensor([[12607,    45,   834,  ...,     0,     0,     0],
         [12607,    45,   834,  ...,     0,     0,     0],
         [12607,    45,   834,  ...,     0,     0,     0],
         ...,
         [12607,    45,   834,  ...,     0,     0,     0],
         [12607,    45,   834,  ...,     0,     0,     0],
         [12607,    45,   834,  ...,     0,     0,     0]]),
 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         ...,
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0]])}

In [ ]:
#Predicting 'FROM' fill detail
T5Model.eval()
with torch.no_grad():
    all_outputs = []
    for i in range(500):
        generated_output = T5Model.generate(
            input_ids=x2_test_encoded1['input_ids'][i:i+1].to(device),
            attention_mask=x2_test_encoded1['attention_mask'][i:i+1].to(device),
            max_length=100,
            num_beams=5,
            early_stopping=True
        )
        all_outputs.append(generated_output)
        torch.cuda.empty_cache()

In [ ]:
#Displaying Test fill detail and Predicted fill detail for 'FROM'
predicted_code2=[]
for i in all_outputs:
  pred=T5Tokenizer.decode(i[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
  predicted_code2.append(pred)

In [ ]:
for input_text, code in zip(y2_test, predicted_code2):
    print(f"Input: {input_text}\nGenerated Code:\n{code}\n")

Input: table_name_96
Generated Code:
table_name_96

Input: table_name_79
Generated Code:
table_name_79

Input: table_29301050_1
Generated Code:
table_29301050_1

Input: table_2508633_6
Generated Code:
table_2508633_6

Input: table_name_24
Generated Code:
table_name_24

Input: table_15088557_1
Generated Code:
table_15088557_1

Input: table_name_41
Generated Code:
table_name_41

Input: table_name_73
Generated Code:
table_name_73

Input: table_name_52
Generated Code:
table_name_52

Input: table_13618358_1
Generated Code:
table_13618358_1

Input: table_name_4
Generated Code:
table_name_4

Input: table_name_7
Generated Code:
table_name_7

Input: table_26920192_5
Generated Code:
table_26920192_5

Input: table_name_74
Generated Code:
table_name_74

Input: table_name_14
Generated Code:
table_name_14

Input: table_name_61
Generated Code:
table_name_61

Input: table_name_21
Generated Code:
table_name_21

Input: table_name_12
Generated Code:
table_name_12

Input: table_name_80
Generated Code:
table_name_80

Input: table_24837750_1
Generated Code:
table_24837750_1

Input: table_20785990_2
Generated Code:
table_20785990_2

Input: table_name_11
Generated Code:
table_name_11

Input: table_name_34
Generated Code:
table_name_34

Input: table_18946749_1
Generated Code:
table_18946749_1

Input: table_15187735_20
Generated Code:
table_15187735_20

Input: table_1266602_2
Generated Code:
table_1266602_2

Input: election
Generated Code:
party

Input: table_name_71
Generated Code:
table_name_71

Input: table_name_15
Generated Code:
table_name_15

Input: table_10748727_1
Generated Code:
table_10748727_1

Input: table_name_41
Generated Code:
table_name_41

Input: table_222448_1
Generated Code:
table_222448_1

Input: table_name_91
Generated Code:
table_name_91

Input: table_name_38
Generated Code:
table_name_38

Input: table_name_67
Generated Code:
table_name_67

Input: table_name_45
Generated Code:
table_name_45

Input: table_name_81
Generated Code:
table_name_81

Input: church
Generated Code:
church

Input: table_name_7
Generated Code:
table_name_7

Input: table_name_46
Generated Code:
table_name_46

Input: table_name_69
Generated Code:
table_name_69

Input: table_name_48
Generated Code:
table_name_48

Input: table_name_43
Generated Code:
table_name_43

Input: table_name_97
Generated Code:
table_name_97

Input: table_name_42
Generated Code:
table_name_42

Input: table_name_98
Generated Code:
table_name_98

Input: table_name_63
Generated Code:
table_name_63

Input: table_name_75
Generated Code:
table_name_75

Input: table_20649850_1
Generated Code:
table_20649850_1

Input: table_1137704_2
Generated Code:
table_1137704_2

Input: airports
Generated Code:
routes

Input: table_name_28
Generated Code:
table_name_28

Input: table_name_34
Generated Code:
table_name_34

Input: table_name_23
Generated Code:
table_name_23

Input: table_name_30
Generated Code:
table_name_30

Input: table_name_55
Generated Code:
table_name_55

Input: table_24501530_1
Generated Code:
table_24501530_1

Input: table_name_36
Generated Code:
table_name_36

Input: table_name_17
Generated Code:
table_name_17

Input: table_name_61
Generated Code:
table_name_61

Input: table_26745426_2
Generated Code:
table_26745426_2

Input: table_23284271_7
Generated Code:
table_23284271_7

Input: table_name_58
Generated Code:
table_name_58

Input: table_name_99
Generated Code:
table_name_99

Input: table_name_5
Generated Code:
table_name_5

Input: table_name_70
Generated Code:
table_name_70

Input: table_19766_1
Generated Code:
table_19766_1

Input: table_name_25
Generated Code:
table_name_25

Input: table_name_42
Generated Code:
table_name_42

Input: table_name_7
Generated Code:
table_name_7

Input: table_298883_5
Generated Code:
table_298883_5

Input: table_25519358_1
Generated Code:
table_25519358_1

Input: table_2781227_9
Generated Code:
table_2781227_9

Input: table_name_77
Generated Code:
table_name_77

Input: table_name_80
Generated Code:
table_name_80

Input: table_name_57
Generated Code:
table_name_57

Input: table_name_74
Generated Code:
table_name_74

Input: table_name_60
Generated Code:
table_name_60

Input: phone
Generated Code:
phone

Input: table_name_93
Generated Code:
table_name_93

Input: table_name_1
Generated Code:
table_name_1

Input: table_name_32
Generated Code:
table_name_32

Input: table_name_83
Generated Code:
table_name_83

Input: table_name_58
Generated Code:
table_name_58

Input: table_name_91
Generated Code:
table_name_91

Input: table_name_89
Generated Code:
table_name_89

Input: table_30121075_1
Generated Code:
table_30121075_1

Input: table_name_70
Generated Code:
table_name_70

Input: table_name_37
Generated Code:
table_name_37

Input: table_16729930_18
Generated Code:
table_16729930_18

Input: table_14700336_1
Generated Code:
table_14700336_1

Input: table_2144389_8
Generated Code:
table_2144389_8

Input: table_name_50
Generated Code:
table_name_50

Input: table_name_44
Generated Code:
table_name_44

Input: table_name_88
Generated Code:
table_name_88

Input: table_23995075_2
Generated Code:
table_23995075_2

Input: table_name_71
Generated Code:
table_name_71

Input: table_name_4
Generated Code:
table_name_4

Input: table_name_87
Generated Code:
table_name_87

Input: TRANSACTIONS
Generated Code:
Transactions_Lots

Input: table_19061741_3
Generated Code:
table_19061741_3

Input: table_15128839_22
Generated Code:
table_15128839_22

Input: table_name_28
Generated Code:
table_name_28

Input: table_11964047_5
Generated Code:
table_11964047_5

Input: school
Generated Code:
school

Input: table_16670746_2
Generated Code:
table_16670746_2

Input: table_2463383_2
Generated Code:
table_2463383_2

Input: program
Generated Code:
program

Input: table_name_55
Generated Code:
table_name_55

Input: table_name_63
Generated Code:
table_name_63

Input: table_name_87
Generated Code:
table_name_87

Input: country
Generated Code:
country

Input: table_1341453_44
Generated Code:
table_1341453_44

Input: table_name_9
Generated Code:
table_name_9

Input: table_name_99
Generated Code:
table_name_99

Input: table_name_71
Generated Code:
table_name_71

Input: table_name_74
Generated Code:
table_name_74

Input: table_name_41
Generated Code:
table_name_41

Input: table_name_80
Generated Code:
table_name_80

Input: table_name_25
Generated Code:
table_name_25

Input: table_name_8
Generated Code:
table_name_8

Input: table_name_39
Generated Code:
table_name_39

Input: table_name_76
Generated Code:
table_name_76

Input: table_name_55
Generated Code:
table_name_55

Input: table_name_92
Generated Code:
table_name_92

Input: table_25572068_1
Generated Code:
table_25572068_1

Input: table_name_92
Generated Code:
table_name_92

Input: table_name_88
Generated Code:
table_name_88

Input: table_name_73
Generated Code:
table_name_73

Input: table_name_98
Generated Code:
table_name_98

Input: table_24540893_6
Generated Code:
table_24540893_6

Input: table_name_15
Generated Code:
table_name_15

Input: table_name_79
Generated Code:
table_name_79

Input: table_22654073_13
Generated Code:
table_22654073_13

Input: table_name_68
Generated Code:
table_name_68

Input: table_name_95
Generated Code:
table_name_95

Input: table_name_39
Generated Code:
table_name_39

Input: book
Generated Code:
book

Input: table_name_16
Generated Code:
table_name_16

Input: table_name_95
Generated Code:
table_name_95

Input: table_20361783_1
Generated Code:
table_20361783_1

Input: table_13050822_2
Generated Code:
table_13050822_2

Input: table_25058269_1
Generated Code:
table_25058269_1

Input: table_16034882_5
Generated Code:
table_16034882_5

Input: table_2135222_2
Generated Code:
table_2135222_2

Input: table_name_29
Generated Code:
table_name_29

Input: table_name_16
Generated Code:
table_name_16

Input: table_15905399_1
Generated Code:
table_15905399_1

Input: table_name_99
Generated Code:
table_name_99

Input: table_name_26
Generated Code:
table_name_26

Input: table_27268238_5
Generated Code:
table_27268238_5

Input: table_name_75
Generated Code:
table_name_75

Input: table_name_10
Generated Code:
table_name_10

Input: table_name_54
Generated Code:
table_name_54

Input: table_name_26
Generated Code:
table_name_26

Input: table_name_72
Generated Code:
table_name_72

Input: table_name_21
Generated Code:
table_name_21

Input: table_name_95
Generated Code:
table_name_95

Input: table_14368332_1
Generated Code:
table_14368332_1

Input: table_23170118_2
Generated Code:
table_23170118_2

Input: Movie
Generated Code:
Movie

Input: table_name_45
Generated Code:
table_name_45

Input: table_28211674_3
Generated Code:
table_28211674_3

Input: table_name_11
Generated Code:
table_name_11

Input: table_1646960_3
Generated Code:
table_1646960_3

Input: table_name_54
Generated Code:
table_name_54

Input: table_27713583_2
Generated Code:
table_27713583_2

Input: table_27700530_11
Generated Code:
table_27700530_11

Input: table_name_65
Generated Code:
table_name_65

Input: table_name_67
Generated Code:
table_name_67

Input: table_name_17
Generated Code:
table_name_17

Input: Employees
Generated Code:
Employees

Input: table_name_54
Generated Code:
table_name_54

Input: table_name_83
Generated Code:
table_name_83

Input: table_2196127_1
Generated Code:
table_2196127_1

Input: member
Generated Code:
member

Input: table_name_14
Generated Code:
table_name_14

Input: table_name_12
Generated Code:
table_name_12

Input: table_name_81
Generated Code:
table_name_81

Input: table_name_66
Generated Code:
table_name_66

Input: table_name_25
Generated Code:
table_name_25

Input: table_101196_1
Generated Code:
table_101196_1

Input: table_name_68
Generated Code:
table_name_68

Input: table_name_7
Generated Code:
table_name_7

Input: table_25177625_1
Generated Code:
table_25177625_1

Input: table_name_80
Generated Code:
table_name_80

Input: table_name_71
Generated Code:
table_name_71

Input: perpetrator
Generated Code:
perpetrator

Input: table_name_19
Generated Code:
table_name_19

Input: table_name_65
Generated Code:
table_name_65

Input: table_27298240_28
Generated Code:
table_27298240_28

Input: table_1346137_4
Generated Code:
table_1346137_4

Input: table_name_36
Generated Code:
table_name_36

Input: table_120778_2
Generated Code:
table_120778_2

Input: table_17467578_1
Generated Code:
table_17467578_1

Input: stadium
Generated Code:
stadium

Input: table_name_74
Generated Code:
table_name_74

Input: table_name_22
Generated Code:
table_name_22

Input: stadium
Generated Code:
stadium

Input: table_21535453_1
Generated Code:
table_21535453_1

Input: table_name_76
Generated Code:
table_name_76

Input: medicine
Generated Code:
medicine

Input: table_name_13
Generated Code:
table_name_13

Input: table_2159537_3
Generated Code:
table_2159537_3

Input: table_name_66
Generated Code:
table_name_66

Input: table_name_44
Generated Code:
table_name_44

Input: table_name_5
Generated Code:
table_name_5

Input: table_name_58
Generated Code:
table_name_58

Input: table_name_75
Generated Code:
table_name_75

Input: table_name_3
Generated Code:
table_name_3

Input: table_name_66
Generated Code:
table_name_66

Input: table_name_9
Generated Code:
table_name_9

Input: table_name_25
Generated Code:
table_name_25

Input: table_name_41
Generated Code:
table_name_41

Input: Faculty
Generated Code:
Faculty

Input: table_name_87
Generated Code:
table_name_87

Input: gymnast
Generated Code:
gymnast

Input: table_name_7
Generated Code:
table_name_7

Input: table_name_34
Generated Code:
table_name_34

Input: table_13258823_2
Generated Code:
table_13258823_2

Input: table_name_76
Generated Code:
table_name_76

Input: table_15463188_16
Generated Code:
table_15463188_16

Input: table_name_8
Generated Code:
table_name_8

Input: table_name_48
Generated Code:
table_name_48

Input: table_name_41
Generated Code:
table_name_41

Input: table_name_90
Generated Code:
table_name_90

Input: table_22916979_5
Generated Code:
table_22916979_5

Input: table_name_41
Generated Code:
table_name_41

Input: table_name_93
Generated Code:
table_name_93

Input: table_26336739_1
Generated Code:
table_26336739_1

Input: table_name_98
Generated Code:
table_name_98

Input: table_name_66
Generated Code:
table_name_66

Input: table_2062148_4
Generated Code:
table_2062148_4

Input: table_name_25
Generated Code:
table_name_25

Input: table_name_7
Generated Code:
table_name_7

Input: table_name_41
Generated Code:
table_name_41

Input: table_21632864_1
Generated Code:
table_21632864_1

Input: table_name_21
Generated Code:
table_name_21

Input: table_2930244_3
Generated Code:
table_2930244_3

Input: table_27611593_5
Generated Code:
table_27611593_5

Input: table_name_67
Generated Code:
table_name_67

Input: table_name_57
Generated Code:
table_name_57

Input: table_name_43
Generated Code:
table_name_43

Input: table_name_36
Generated Code:
table_name_36

Input: table_name_5
Generated Code:
table_name_5

Input: table_name_86
Generated Code:
table_name_86

Input: table_2731431_1
Generated Code:
table_2731431_1

Input: table_name_6
Generated Code:
table_name_6

Input: table_name_25
Generated Code:
table_name_25

Input: table_name_78
Generated Code:
table_name_78

Input: table_name_3
Generated Code:
table_name_3

Input: table_11630008_6
Generated Code:
table_11630008_6

Input: table_19753079_35
Generated Code:
table_19753079_35

Input: table_name_76
Generated Code:
table_name_76

Input: table_name_49
Generated Code:
table_name_49

Input: table_name_27
Generated Code:
table_name_27

Input: table_134729_3
Generated Code:
table_134729_3

Input: table_name_6
Generated Code:
table_name_6

Input: PRODUCTS
Generated Code:
PRODUCTS

Input: table_name_36
Generated Code:
table_name_36

Input: table_12125069_2
Generated Code:
table_12125069_2

Input: Projects
Generated Code:
Projects

Input: table_name_82
Generated Code:
table_name_82

Input: table_name_97
Generated Code:
table_name_97

Input: table_name_83
Generated Code:
table_name_83

Input: table_25246990_5
Generated Code:
table_25246990_5

Input: table_20722805_1
Generated Code:
table_20722805_1

Input: table_name_20
Generated Code:
table_name_20

Input: table_name_53
Generated Code:
table_name_53

Input: table_name_73
Generated Code:
table_name_73

Input: table_23018775_3
Generated Code:
table_23018775_3

Input: table_name_1
Generated Code:
table_name_1

Input: table_name_66
Generated Code:
table_name_66

Input: table_name_18
Generated Code:
table_name_18

Input: table_18734298_1
Generated Code:
table_18734298_1

Input: table_name_78
Generated Code:
table_name_78

Input: table_24257833_4
Generated Code:
table_24257833_4

Input: table_26847237_1
Generated Code:
table_26847237_1

Input: table_1977630_2
Generated Code:
table_1977630_2

Input: table_name_91
Generated Code:
table_name_91

Input: table_name_93
Generated Code:
table_name_93

Input: table_27833469_1
Generated Code:
table_27833469_1

Input: table_1341423_9
Generated Code:
table_1341423_9

Input: table_name_11
Generated Code:
table_name_11

Input: country
Generated Code:
roller_coaster

Input: table_name_55
Generated Code:
table_name_55

Input: table_11748792_2
Generated Code:
table_11748792_2

Input: table_11970261_2
Generated Code:
table_11970261_2

Input: table_2818164_7
Generated Code:
table_2818164_7

Input: table_name_35
Generated Code:
table_name_35

Input: table_name_4
Generated Code:
table_name_4

Input: table_20195922_3
Generated Code:
table_20195922_3

Input: table_name_37
Generated Code:
table_name_37

Input: table_name_14
Generated Code:
table_name_14

Input: table_name_4
Generated Code:
table_name_4

Input: table_name_61
Generated Code:
table_name_61

Input: table_name_6
Generated Code:
table_name_6

Input: table_11970261_2
Generated Code:
table_11970261_2

Input: visitor
Generated Code:
visitor

Input: Customers
Generated Code:
Accounts

Input: table_name_98
Generated Code:
table_name_98

Input: table_name_78
Generated Code:
table_name_78

Input: table_name_78
Generated Code:
table_name_78

Input: table_25355392_2
Generated Code:
table_25355392_2

Input: table_11497980_1
Generated Code:
table_11497980_1

Input: table_27496841_3
Generated Code:
table_27496841_3

Input: table_22665117_1
Generated Code:
table_22665117_1

Input: table_name_62
Generated Code:
table_name_62

Input: table_name_96
Generated Code:
table_name_96

Input: table_name_12
Generated Code:
table_name_12

Input: table_name_9
Generated Code:
table_name_9

Input: table_name_23
Generated Code:
table_name_23

Input: table_name_67
Generated Code:
table_name_67

Input: table_name_9
Generated Code:
table_name_9

Input: table_28846752_13
Generated Code:
table_28846752_13

Input: table_name_89
Generated Code:
table_name_89

Input: table_24018112_1
Generated Code:
table_24018112_1

Input: table_name_10
Generated Code:
table_name_10

Input: table_name_43
Generated Code:
table_name_43

Input: table_name_33
Generated Code:
table_name_33

Input: table_name_47
Generated Code:
table_name_47

Input: table_name_69
Generated Code:
table_name_69

Input: table_22879323_8
Generated Code:
table_22879323_8

Input: table_name_71
Generated Code:
table_name_71

Input: table_2668352_11
Generated Code:
table_2668352_11

Input: table_23449363_1
Generated Code:
table_23449363_1

Input: table_20866024_4
Generated Code:
table_20866024_4

Input: table_name_3
Generated Code:
table_name_3

Input: table_name_64
Generated Code:
table_name_64

Input: table_181892_4
Generated Code:
table_181892_4

Input: table_25563779_4
Generated Code:
table_25563779_4

Input: table_name_17
Generated Code:
table_name_17

Input: table_name_45
Generated Code:
table_name_45

Input: table_name_54
Generated Code:
table_name_54

Input: table_name_91
Generated Code:
table_name_91

Input: table_23495048_2
Generated Code:
table_23495048_2

Input: table_25369796_1
Generated Code:
table_25369796_1

Input: table_name_76
Generated Code:
table_name_76

Input: table_name_47
Generated Code:
table_name_47

Input: table_name_19
Generated Code:
table_name_19

Input: table_2668336_17
Generated Code:
table_2668336_17

Input: table_name_77
Generated Code:
table_name_77

Input: table_name_65
Generated Code:
table_name_65

Input: table_name_23
Generated Code:
table_name_23

Input: table_17697980_1
Generated Code:
table_17697980_1

Input: table_14911550_5
Generated Code:
table_14911550_5

Input: table_name_21
Generated Code:
table_name_21

Input: Documents_with_expenses
Generated Code:
Documents_with_expenses

Input: song
Generated Code:
song

Input: table_14342592_5
Generated Code:
table_14342592_5

Input: table_2857352_3
Generated Code:
table_2857352_3

Input: table_name_76
Generated Code:
table_name_76

Input: table_21489362_2
Generated Code:
table_21489362_2

Input: table_17060277_10
Generated Code:
table_17060277_10

Input: table_10284385_1
Generated Code:
table_10284385_1

Input: table_name_32
Generated Code:
table_name_32

Input: table_name_33
Generated Code:
table_name_33

Input: table_14638077_2
Generated Code:
table_14638077_2

Input: user_profiles
Generated Code:
user_profiles

Input: table_name_73
Generated Code:
table_name_73

Input: university
Generated Code:
university

Input: table_name_27
Generated Code:
table_name_27

Input: table_name_33
Generated Code:
table_name_33

Input: table_name_45
Generated Code:
table_name_45

Input: table_2380212_1
Generated Code:
table_2380212_1

Input: table_1601027_2
Generated Code:
table_1601027_2

Input: table_name_28
Generated Code:
table_name_28

Input: table_name_47
Generated Code:
table_name_47

Input: table_name_20
Generated Code:
table_name_20

Input: table_25714995_2
Generated Code:
table_25714995_2

Input: table_name_98
Generated Code:
table_name_98

Input: table_name_34
Generated Code:
table_name_34

Input: table_name_22
Generated Code:
table_name_22

Input: table_name_45
Generated Code:
table_name_45

Input: table_14181578_1
Generated Code:
table_14181578_1

Input: table_name_47
Generated Code:
table_name_47

Input: table_name_68
Generated Code:
table_name_68

Input: table_name_52
Generated Code:
table_name_52

Input: table_name_86
Generated Code:

In [ ]:
#Stage2: Training and Predicting WHERE Fill detail
#Transforming and Defining Model Parameters
Transform_Train_Tensor = TensorDataset(x3_train_encoded['input_ids'], x3_train_encoded['attention_mask'],
                                       y3_train_encoded['input_ids'])
Sample_Train_Tensor = RandomSampler(Transform_Train_Tensor)
Load_Train_Batches = DataLoader(Transform_Train_Tensor, sampler=Sample_Train_Tensor, batch_size=8)
T5ModelOptimizer = torch.optim.AdamW(T5Model.parameters(), lr=2e-5)

In [ ]:
#Training 'WHERE' dataset with T5 with similar functionality as mentioned before.
T5Model.train()
for i in range(2):
    epoch_loss = 0
    for batch in Load_Train_Batches:
        input_id_train=batch[0].to(device)
        attention_mask_train=batch[1].to(device)
        label_train = batch[2].to(device)
        model_outputs = T5Model(input_id_train, attention_mask=attention_mask_train, labels=label_train)
        batch_loss = model_outputs.loss
        epoch_loss = epoch_loss+batch_loss.item()
        batch_loss.backward()
        T5_Model_optimizer.step()
        T5Model.zero_grad()
        torch.cuda.empty_cache()
    Average_Epoch_Loss = epoch_loss / len(Load_Train_Batches)
    print('Epoch '+str(i)+' Loss = '+str(Average_Epoch_Loss))

Epoch 0 Loss = 0.1773597779497504
Epoch 1 Loss = 0.08164384141936898

In [ ]:
#Taking Subset of test dataset
x3_test_encoded1=x3_test_encoded[:500]
x3_test_encoded1

{'input_ids': tensor([[12607,   213,   834,  ...,     0,     0,     0],
         [12607,   213,   834,  ...,     0,     0,     0],
         [12607,   213,   834,  ...,     0,     0,     0],
         ...,
         [12607,   213,   834,  ...,     0,     0,     0],
         [12607,   213,   834,  ...,     0,     0,     0],
         [12607,   213,   834,  ...,     0,     0,     0]]),
 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         ...,
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0]])}

In [ ]:
#Predicting 'WHERE' fill detail
T5Model.eval()
with torch.no_grad():
    all_outputs = []
    for i in range(500):
        generated_output = T5Model.generate(
            input_ids=x3_test_encoded1['input_ids'][i:i+1].to(device),
            attention_mask=x3_test_encoded1['attention_mask'][i:i+1].to(device),
            max_length=100,
            num_beams=5,
            early_stopping=True
        )
        all_outputs.append(generated_output)
        torch.cuda.empty_cache()

In [ ]:
#Displaying Test fill detail and Predicted fill detail for 'FROM'
predicted_code3=[]
for i in all_outputs:
  pred=T5Tokenizer.decode(i[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
  predicted_code3.append(pred)
for input_text, code in zip(y3_test, predicted_code3):
    print(f"Input: {input_text}\nGenerated Code:\n{code}\n")

Input:  played = "22" AND drawn = "0" AND lost = "14" AND losing_bp = "5"
Generated Code:
played = "22 rounds" AND drawn = "0" AND losing_bp = 5

Input:  year = 1987
Generated Code:
year = 1987

Input:  arrival_lonavla = "22:22"
Generated Code:
arrival_lonavla = "22:22"

Input:  pick__number = 151
Generated Code:
pick__number = "151"

Input:  country = "united states" AND money___$__ = 356
Generated Code:
country = "usa" AND money___$__ = "356"

Input:  mountains_classification = "Aitor Osa" AND winner = "Aitor González"
Generated Code:
mountains_classification = "aitor osa" AND winner = "aitor gonzález"

Input:  denomination = "three paise"
Generated Code:
denomination = "three paise"

Input:  minor_seventh = "f"
Generated Code:
minor_seventh = "f"

Input:  status = "2nd runner-up"
Generated Code:
status = 2nd runner-up

Input:  services_ & _cons_truction_b = "72.5"
Generated Code:
services_ = "72.5" AND _cons_truction_b = "72.5"

Input:  bronze > 1 AND silver = 1
Generated Code:
bronze > 1 AND silver = "1" AND silver > 1

Input:  grid < 23 AND time = "accident" AND rider = "graeme gowland"
Generated Code:
grid  23 AND accident under time AND time = "Graeme Gowland"

Input:  series = "Italian" AND circuit = "Valencia"
Generated Code:
series = "italinian" AND circuit = "valencia"

Input:  rank = 6 AND bronze = 2 AND gold > 0
Generated Code:
rank > 6 AND bronze 2 AND gold > 0

Input:  game_site = "joe robbie stadium"
Generated Code:
game_site = "joe robbie stadium"

Input:  high_assists = "paul (9)"
Generated Code:
high_assists = "paul (9)"

Input:  bowl = "humanitarian"
Generated Code:
bowl = "humanitarian"

Input:  novelty = "gen"
Generated Code:
novelty = "gen"

Input:  studio_host = "jimmy myers"
Generated Code:
studio_host = "jimmy myers"

Input:  installed_capacity__mw_ = "189"
Generated Code:
installed_capacity__mw_ = "189"

Input:  name = "David Noel"
Generated Code:
name = "David Noel"

Input:  to_par = "e" AND country = "spain"
Generated Code:
to_par = "e" AND country = "spain"

Input:  away_team = "carlton"
Generated Code:
away_team = "carlton"

Input:  peak = "Mount Wondiwoi"
Generated Code:
peak = "wondiwoi"

Input:
Generated Code:
first_episode = "1"

Input:  team = "Circle Sport"
Generated Code:
team = "circle sport"

Input:  T1.District = 1 OR T1.District = 2
Generated Code:
district = "1" OR district = "2"

Input:  title = "inki and the minah bird"
Generated Code:
title = "Inki and the Minah Bird"

Input:  pieces = 339 AND number < 7198
Generated Code:
pieces = 339 AND number  7198

Input:  points = "9"
Generated Code:
points = "9"

Input:  losses = 14 AND against > 2200
Generated Code:
losses > 14 AND against > 2200

Input:  sigma__with_15σ_shift_ = "2.5"
Generated Code:
sigma__with_15_shift_ = 2.5

Input:  venue = "wembley stadium , london"
Generated Code:
venue = "wembley stadium, london"

Input:  fastest_lap = "gunnar nilsson"
Generated Code:
fastest_lap = "gunnar nilsson"

Input:  rider = "marco melandri"
Generated Code:
rider = "marco melandri"

Input:  result = "loss" AND year = "1980" AND competition = "world group, consolation round"
Generated Code:
result = "loss" AND year = 1980 AND competition = "world group, consolation round"

Input:  venue = "brunswick street oval"
Generated Code:
venue = "busswick street oval"

Input:
Generated Code:
open_date = "most recent"

Input:  home_team = "carlton"
Generated Code:
home_team = "Carlton"

Input:  silver < 3 AND total > 1 AND gold < "4" AND rank = "4"
Generated Code:
gold  3 AND silver  4 AND total  4

Input:  result = "w 20-17"
Generated Code:
result = "w 20-17"

Input:  location = "big rapids, michigan"
Generated Code:
location = "big rapids, michigan"

Input:  series = "gp2 series" AND fl = "0" AND position = "17th"
Generated Code:
series = "gp2" AND position = "0" AND fl = "17th"

Input:  _number_of_episodes = 10 AND date_released = "1 april 2010"
Generated Code:
_number_of_episodes = 10 AND date_released = "1 April 2010"

Input:  year = 1999 AND partner = "choong tan fook"
Generated Code:
year = 1999 AND partner = "choong tan fook"

Input:  title = "death valley"
Generated Code:
title = "death valley"

Input:  grid = 2
Generated Code:
grid = 2

Input:  draw < 51 AND wins > 6
Generated Code:
draw  51 AND wins > 6

Input:  position = "OL"
Generated Code:
position = "ol"

Input:  date = "5 April"
Generated Code:
date = 5 april

Input:
Generated Code:
name = "source airport" AND apid = "src_apid"

Input:  date = "february 25"
Generated Code:
date = "february 25"

Input:  prom__m_ > 30 AND peak = "sail"
Generated Code:
prom__m_ > 30 AND peak = "sail"

Input:  nation = "belarus" AND total < 1
Generated Code:
nation  1 AND total  1

Input:  round = 3
Generated Code:
round = "3"

Input:  model_number = "atom e680t"
Generated Code:
model_number = "e680t"

Input:  candidate = "Amy Cato"
Generated Code:
candidate = "Amy Cato"

Input:  result = "l 26-16" AND week < 12
Generated Code:
result = "l 26-16" AND week  12

Input:  away_team = "geelong"
Generated Code:
away_team = "geelong"

Input:  class_aAAA = dickinson
Generated Code:
class_aAAA = "dickinson" AND dickinson = "dickinson"

Input:  stolen_ends = 6
Generated Code:
stolen_ends = 6

Input:  score = "W 99–91 (OT)"
Generated Code:
score = "w 99–91 (ot)"

Input:  skip = "ellen vogt"
Generated Code:
skip = "ellen vogt"

Input:  attendance = 507
Generated Code:
attendance = "507"

Input:  margin = "8"
Generated Code:
margin = 8

Input:  score = 69 - 71 - 69 - 72 = 281
Generated Code:
score = "69-71-69-72=281"

Input:  country = "Iceland"
Generated Code:
country = "island"

Input:  qualification = "m.phil (physics)"
Generated Code:
qualification = "m.phil (physics)"

Input:  scottish_cup > 69
Generated Code:
scottish_cup > 69

Input:  area_in_1000km²__1930_ = "20,4"
Generated Code:
area_in_1000km2__1930_ = "20,4"

Input:  obverse = "Kim Il-sung" AND date_of_issue = "1992"
Generated Code:
obverse = 1992 AND date_of_issue = "kim il-sung"

Input:  horizontal_0_a = "明勾（YS月南）"
Generated Code:
horizontal_0_a = "ys"

Input:  player = "Barrie Moore"
Generated Code:
player = "barrie moore"

Input:  location = "sopot" AND score = "2–6, 6–2, 6–3"
Generated Code:
location = "sopot" AND score = "2–6, 6–2, 6–3"

Input:  silver < 14 AND rank > 8 AND bronze = 3
Generated Code:
silver  14 AND rank > 8 AND bronze  3

Input:  yacht_name = "lg flatron"
Generated Code:
yacht_name = "lg flatron"

Input:  home_team = "geelong"
Generated Code:
home_team = "geelong"

Input:  championship = "women's western open" AND year = 1946
Generated Code:
championship = "women's western open" AND year = 1946

Input:  Carrier = "Sprint" OR Carrier = "TMobile"
Generated Code:
Name = "Sprint" AND Carrier = "TMobile"

Input:  females___percentage_ < 40 AND females_rank < 22
Generated Code:
females___percentage_  40 AND females_rank  22

Input:  champion = "new zealand (130 points)"
Generated Code:
champion = "new zealand"

Input:  high_assists = "ramon sessions (8)" AND high_points = "richard jefferson (29)" AND score = "w 107–78 (ot)"
Generated Code:
score = "w 107–78 (ot)" AND high_assists = "ramon sessions (8)" AND high_points = "richard jefferson (29)"

Input:  ends_lost < 44 AND blank_ends < 7
Generated Code:
ends_lost = 44 AND blank_ends  7

Input:  events = 26 AND wins > 0
Generated Code:
events > 0 AND wins > 26

Input:  verb_meaning = "to run"
Generated Code:
verb_meaning = "to run"

Input:  team = "fort wayne pistons" AND position = "f"
Generated Code:
team = "fort Wayne pistons" AND position = "f"

Input:  townland = "Derrigra"
Generated Code:
townland = "derrigra"

Input:  set_3 = "25–14"
Generated Code:
set_3 = "25–14"

Input:  catalog = "ha-m 2230"
Generated Code:
catalog = "ha-m 2230"

Input:  tdp = "3.6 W" AND model_number = "Atom E665C"
Generated Code:
tdp = "3.6" AND model_number = "atom e665c"

Input:  revenue_per_capita = "$7,755"
Generated Code:
revenue_per_capita = "7,755"

Input:  japanese_translation = "By Your Side ~Hikari's Theme~ (PopUp.Version)"
Generated Code:
japanese_translation = "hikari's theme"

Input:  lane = 5
Generated Code:
lane = 5

Input:  driver = "riccardo patrese"
Generated Code:
driver = "Riccardo Patrese"

Input:  partnering = "graydon oliver"
Generated Code:
partnering = "graydon oliver"

Input:  confederation = "CONCACAF"
Generated Code:
confederation = "concacaf"

Input:  attendance = "39,923"
Generated Code:
attendance = 39,923

Input:  date_s__administered = "march 24, 2010"
Generated Code:
date_s__administered = "marz 24, 2010"

Input:  money___£__ = "playoff" AND country = "united states"
Generated Code:
money___£__ = "usa" AND country = "usa"

Input:
Generated Code:
transaction_id = "0" AND transaction_id = "0"

Input:  duration = "Days 1-86"
Generated Code:
duration = "days 1-86"

Input:  name = "Briggs, Diyral"
Generated Code:
name = "briggs, diyral"

Input:  away_team = "wycombe wanderers"
Generated Code:
away_team = "wycombe wanderers"

Input:  score = "L 92–101"
Generated Code:
score = "l 92–101"

Input:
Generated Code:
school = "all"

Input:  circuit = "Okayama International circuit"
Generated Code:
circuit = "okama international circuit"

Input:  avg_start = "20.5"
Generated Code:
avg_start = "20.5"

Input:
Generated Code:
program = "id"

Input:  total < 292 AND year_s__won = "1978"
Generated Code:
total  292 AND year_s__won = 1978

Input:  shirt_sponsor = "walkers"
Generated Code:
shirt_sponsor = "walkers"

Input:  score = "2-1"
Generated Code:
score = "2-1"

Input:
Generated Code:
height = "highest" AND country_ID = "highest"

Input:  first_elected = 1984
Generated Code:
first_elected = 1984

Input:  un__abridged = "unabridged" AND author = "gary paulsen"
Generated Code:
un__abridged = "gary paulsen" AND author = "gary paulsen"

Input:  team = "grupo capitol valladolid" AND games > 34
Generated Code:
team = "global capitol" AND games > 34

Input:  opponent = "minnesota vikings"
Generated Code:
opponent = "minneapolis vikings"

Input:  res = "win" AND round > 2 AND opponent = "makoto ishikawa"
Generated Code:
opponent = "makoto ishikawa" AND round > 2

Input:  time_retired = "+23.215" AND grid > 11
Generated Code:
time_retired > 23.215 AND grid > 11

Input:  round < 3 AND home_team = "queensland roar"
Generated Code:
round  3 AND home_team = "QLD"

Input:  game = 59
Generated Code:
game = "59"

Input:  population_in_millions > 4.2 AND member_state = "czech republic"
Generated Code:
population_in_millions = "4.2" AND member_state = "czech republic"

Input:  venue = "punt road oval"
Generated Code:
venue = "punt road oval"

Input:  students = "na" AND size = "10 acres"
Generated Code:
students = "na" AND size = "10 acres"

Input:  tournament = "mynavi abc championship"
Generated Code:
tournament = "mynavi ABC championship"

Input:  finalist = "lina krasnoroutskaya"
Generated Code:
finalist = "Lina Krasnoroutskaya"

Input:  series = "FR2.0 11"
Generated Code:
series = "FR2.0 11"

Input:  away_team = "essendon"
Generated Code:
away_team = "essendon"

Input:  nationality = "france" AND lane < 3
Generated Code:
nationality = "france" AND lane  3

Input:  team__number1 = "unics kazan"
Generated Code:
team__number1 = "Unics Kazan"

Input:  country = "united states" AND player = "raymond floyd"
Generated Code:
country = "united states" AND player = "raymond Floyd"

Input:  school = "Western Ontario" AND position = "OL"
Generated Code:
school = "western ontario" AND position = "OL"

Input:  country = "italy"
Generated Code:
country = "italia"

Input:  arranger_s_ = "roz"
Generated Code:
arranger_s_ = "ROZ"

Input:  date = "May 1"
Generated Code:
date = "may 1"

Input:  winner = "no race" AND year > 1909
Generated Code:
winner = "no race" AND year = "1909"

Input:  home_team = "carlton"
Generated Code:
home_team = "carlton"

Input:  place = "1"
Generated Code:
place = "1"

Input:
Generated Code:
title = "books" AND book_ID = "books"

Input:  year = "2012"
Generated Code:
year = 2012

Input:  driver = "louis chiron" AND chassis = "t26c"
Generated Code:
driver = "Louis Chiron" AND chassis = "t26c"

Input:  womens_singles = "Zhou Mi"
Generated Code:
womens_singles = "zhou mi"

Input:  stage = "SS17"
Generated Code:
stage = "ss17"

Input:  season = "2011–12"
Generated Code:
season = "2011–12"

Input:
Generated Code:
MIN(position)

Input:  density = 820
Generated Code:
density = "820"

Input:  no1 = "lena claudisabel" AND no2 = "lena sylvie"
Generated Code:
no1 = "lena claudisabel" AND no2 = "lena silvie"

Input:  year_s_ = 2000 AND games_won___tests__ = "4 (1)"
Generated Code:
games_won__tests__ = "4" AND year_s_ = "2000"

Input:  iin_ranges = "5610, 560221-560225"
Generated Code:
iin_ranges = 5610, 560221-560225

Input:  election = "1835"
Generated Code:
election = "1835"

Input:  date > 1986 AND score_in_the_final = "7–6, 3–6, 6–2"
Generated Code:
date = "1984" AND score_in_the_final = "7–6, 3–6, 6–2"

Input:  wickets = 16
Generated Code:
wickets = 16

Input:  isbn = "isbn 91-7713-035-9"
Generated Code:
isbn = "91-7713-035-9"

Input:  constructor = "minardi - fondmetal" AND driver = "marc gené" AND grid > 20
Generated Code:
constructor = "Minardi - Fondmetal" AND driver > 20

Input:  name = "mangamahu primary school"
Generated Code:
name = "manga mahu primary school"

Input:  english = "mindfulness of breathing"
Generated Code:
english = "mindfulness of breathing"

Input:  rank_points = "olympic gold medalist"
Generated Code:
rank_points = "olympic gold medalist"

Input:  date = "april 20, 1987"
Generated Code:
date = "april 20, 1987"

Input:  crowd > 20 OFFSET 000
Generated Code:
crowd > 20,000

Input:  average = "1.053"
Generated Code:
average = "1.053"

Input:  villains = "Reg Lacey (AKA Mr. B)"
Generated Code:
villains = "reg lacey (aka mr. b)"

Input:  director <> "null" GROUP BY director HAVING COUNT(*) = 1
Generated Code:
director = "NULL"

Input:  date = "october 1, 1994"
Generated Code:
date = "october 1, 1994"

Input:  mixed_veteran = "Paul Whiting"
Generated Code:
mixed_veteran = "Paul Whiting"

Input:  event = "freestyle test" AND result < 70.277 AND horse = "fabuleux 5"
Generated Code:
horse = "fabuleux 5" AND result = "less than 70.277"

Input:  debut_album = "Mike"
Generated Code:
debut_album = "mike"

Input:  total > 288 AND country = "south africa"
Generated Code:
total > 288, country = "South Africa"

Input:  high_assists = "Raymond Felton (4)"
Generated Code:
high_assists = "raymond felton (4)"

Input:  team = "Houston"
Generated Code:
team = "houston"

Input:  method = "submission (guillotine choke)" AND opponent = "tom bolger"
Generated Code:
method = "guillotine choke" AND opponent = "tom bolger"

Input:  lane = 4
Generated Code:
lane = "4"

Input:  location_attendance = "td banknorth garden 18,624"
Generated Code:
location_attendance = "TD Banknorth Garden 18,624"

Input:
Generated Code:
Employees = "we"

Input:  active_service = "1972–1995"
Generated Code:
active_service = 1972–1995

Input:  height__cm_ < 175
Generated Code:
height__cm_  175

Input:  driver = "Jeff Gordon"
Generated Code:
driver = "Jeff Gordon"

Input:
Generated Code:
member = "address"

Input:  game = "13"
Generated Code:
game = "13"

Input:  week = 16
Generated Code:
week = "16"

Input:  school_club_team = "maryland" AND round = 3
Generated Code:
school_club_team = "maryland" AND round = 3

Input:  s_wicket = "40" AND average = "28.42"
Generated Code:
s_wicket = 40 AND average = "28.42"

Input:  nation = "switzerland"
Generated Code:
nation = "swiss"

Input:  irish_speakers = "62%"
Generated Code:
irish_speakers = "62%"

Input:  title = "taken"
Generated Code:
title = "taken in"

Input:  track = 7
Generated Code:
track = "7"

Input:  weight = 170
Generated Code:
weight = 170

Input:  year = "1996"
Generated Code:
year = 1996

Input:  top_5 > 9 AND wins < 11
Generated Code:
top_5 > 9 AND wins  11

Input:
Generated Code:
perpetrator (Country)

Input:  player = "rick vaive" AND rd__number < 1
Generated Code:
player = "rick vaive" AND rd__number = "rick vaive"

Input:  res = "win" AND event = "sf 5: stadium"
Generated Code:
res = "win" AND event = "sf 5: stadium event"

Input:  pronoun = "vi (you pl.)"
Generated Code:
vi = "you pl."

Input:  first_elected = "1910"
Generated Code:
first_elected = 1910

Input:  ansi_code < 1036538 AND pop__2010_ < 42 AND longitude > -99.442872 AND water__sqmi_ > 0.882
Generated Code:
longitude > -99.442872 AND water__sqmi_ > 0.882

Input:  voted_yes = 2410119
Generated Code:
voted_yes = "2410119"

Input:  us_viewers__million_ = "3.73"
Generated Code:
us_viewers__million_ = "3.73"

Input:
Generated Code:
stadium = "country"

Input:  record = "17–8"
Generated Code:
record = "17–8"

Input:  2011 = "1r" AND 2000 = "1r"
Generated Code:
2011 AND 2000 = "1R"

Input:
Generated Code:
capacity = "maximum" AND average = "average"

Input:  terry_mcauliffe = "30%" AND dates_administered = "June 8"
Generated Code:
terry_mcauliffe = "30%" AND dates_administered = "June 8"

Input:  player = "pascal masson"
Generated Code:
player = "pascal masson"

Input:
Generated Code:
trade_name = "at least 3 enzymes"

Input:  partner = "ruxandra dragomir"
Generated Code:
partner = "Ruxandra Dragomir"

Input:  date_successor_seated = "August 31, 1943"
Generated Code:
date_successor_seated = "August 31, 1943"

Input:  year_s__won = "1976"
Generated Code:
year_s__won = 1976

Input:  rank > 1 AND nation = "dominican republic" AND total > 4
Generated Code:
rank > 1 AND nation = "dominican republic" AND total > 4

Input:  year = 2002
Generated Code:
year = 2002

Input:  opponent = "melanie south"
Generated Code:
opponent = "melanie south"

Input:  country = "united states" AND player = "lee trevino"
Generated Code:
country = "united states" AND player = "lee trevino"

Input:  wicket_partnership = "5th"
Generated Code:
wicket_partnership = 5

Input:  date = "october 9, 1938"
Generated Code:
date = "october 9, 1938"

Input:  deputy_prime_minister = "mariano rajoy brey"
Generated Code:
deputy_prime_minister = "Mariano Rajoy Brey"

Input:  total = 1 AND silver > 0
Generated Code:
total = 1 AND silver > 0

Input:  year < 2012 AND canada___usa_rank = "52nd" AND average_attendance < 992
Generated Code:
canada___usa_rank  52 AND year = 2012

Input:  rank = "Professor" GROUP BY building HAVING COUNT(*) >= 10
Generated Code:
rank = "10"

Input:  purpose = "community" AND frequency = "0 96.9"
Generated Code:
purpose = "to broadcast at frequency 0 96.9" AND frequency = "96.9"

Input:
Generated Code:
people_ID = "age" AND gymnast_ID = "age"

Input:  class = "350cc" AND team = "yamaha" AND points < 37 AND year > 1979
Generated Code:
year  1979 AND points  37 AND team = "yamaha"

Input:  entered_office = "1012"
Generated Code:
entered_office = "1012"

Input:  date = "September 15, 1985"
Generated Code:
date = "september 15, 1985"

Input:  laps < 80 AND constructor = "maserati" AND time_retired = "+2 laps"
Generated Code:
laps  80 AND constructor = "+2"

Input:  school_club_team = "Visayas"
Generated Code:
school_club_team = "visayas"

Input:  2010 = "3.137"
Generated Code:
2007 = "Lukoil" AND 2010 = "3.137 million tonnes"

Input:  kickoff = "12:00 p.m." AND record = "8-5"
Generated Code:
kickoff = 12:00 p.m. AND record = "8-5"

Input:  model = "ctc-3"
Generated Code:
model = "ctc-3"

Input:  date = "may 11, 2002"
Generated Code:
date = "may 11, 2002"

Input:  principal_city = "Louisville"
Generated Code:
principal_city = "louisville"

Input:  man_of_the_match = "ollie bronnimann"
Generated Code:
man_of_the_match = "ollie bronnimann"

Input:  name = "charles dickens"
Generated Code:
name = "charles dickens"

Input:  incumbent = "Bob Barr"
Generated Code:
incumbent = "bob bar"

Input:  drawn > 1
Generated Code:
drawn > 1

Input:  home = "grizzlies" AND record = "10–28"
Generated Code:
home = "grizzlies" AND record = 10–28

Input:  venue = "Moonee Valley"
Generated Code:
venue = "moonee valley"

Input:  date = "10 january 1998"
Generated Code:
date = "10 january 1998"

Input:  period = "1973–89" AND games < 423

In [ ]:
#Stage2: Training and Predicting ORDER BY Fill detail
#Transforming and Defining Model Parameters
Transform_Train_Tensor = TensorDataset(x4_train_encoded['input_ids'], x4_train_encoded['attention_mask'],
                                       y4_train_encoded['input_ids'])
Sample_Train_Tensor = RandomSampler(Transform_Train_Tensor)
Load_Train_Batches = DataLoader(Transform_Train_Tensor, sampler=Sample_Train_Tensor, batch_size=8)
T5ModelOptimizer = torch.optim.AdamW(T5Model.parameters(), lr=2e-5)

In [ ]:
#Training 'ORDER BY' dataset with T5 with similar functionality as mentioned before.
T5Model.train()
for i in range(2):
    epoch_loss = 0
    for batch in Load_Train_Batches:
        input_id_train=batch[0].to(device)
        attention_mask_train=batch[1].to(device)
        label_train = batch[2].to(device)
        model_outputs = T5Model(input_id_train, attention_mask=attention_mask_train, labels=label_train)
        batch_loss = model_outputs.loss
        epoch_loss = epoch_loss+batch_loss.item()
        batch_loss.backward()
        T5_Model_optimizer.step()
        T5Model.zero_grad()
        torch.cuda.empty_cache()
    Average_Epoch_Loss = epoch_loss / len(Load_Train_Batches)
    print('Epoch '+str(i)+' Loss = '+str(Average_Epoch_Loss))

Epoch 0 Loss = 0.04904623072477989
Epoch 1 Loss = 0.01211609827639768

In [ ]:
#Taking Subset of test dataset
x4_test_encoded1=x4_test_encoded[:500]
x4_test_encoded1

{'input_ids': tensor([[12607,   455,   834,  ...,     0,     0,     0],
         [12607,   455,   834,  ...,     0,     0,     0],
         [12607,   455,   834,  ...,     0,     0,     0],
         ...,
         [12607,   455,   834,  ...,     0,     0,     0],
         [12607,   455,   834,  ...,     0,     0,     0],
         [12607,   455,   834,  ...,     0,     0,     0]]),
 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         ...,
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0]])}

In [ ]:
#Predicting 'ORDER BY' fill detail
T5Model.eval()
with torch.no_grad():
    all_outputs = []
    for i in range(500):
        generated_output = T5Model.generate(
            input_ids=x4_test_encoded1['input_ids'][i:i+1].to(device),
            attention_mask=x4_test_encoded1['attention_mask'][i:i+1].to(device),
            max_length=100,
            num_beams=5,
            early_stopping=True
        )
        all_outputs.append(generated_output)
        torch.cuda.empty_cache()

In [ ]:
#Displaying Test fill detail and Predicted fill detail for 'ORDER BY'
predicted_code4=[]
for i in all_outputs:
  pred=T5Tokenizer.decode(i[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
  predicted_code4.append(pred)
for input_text, code in zip(y4_test, predicted_code4):
    print(f"Input: {input_text}\nGenerated Code:\n{code}\n")

Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: open_date DESC LIMIT 3
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: COUNT(*) DESC
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: AVG(amount_of_transaction)
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T2.Height DESC LIMIT 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T2.Age LIMIT 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: COUNT(*) DESC LIMIT 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: age DESC
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: enrollment DESC LIMIT 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: COUNT(*) LIMIT 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: trust LIMIT 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:

In [ ]:
#Stage2: Training and Predicting GROUP BY Fill detail
#Transforming and Defining Model Parameters
Transform_Train_Tensor = TensorDataset(x5_train_encoded['input_ids'], x5_train_encoded['attention_mask'],
                                       y5_train_encoded['input_ids'])
Sample_Train_Tensor = RandomSampler(Transform_Train_Tensor)
Load_Train_Batches = DataLoader(Transform_Train_Tensor, sampler=Sample_Train_Tensor, batch_size=8)
T5ModelOptimizer = torch.optim.AdamW(T5Model.parameters(), lr=2e-5)

In [ ]:
#Training 'GROUP BY' dataset with T5 with similar functionality as mentioned before.
T5Model.train()
for i in range(2):
    epoch_loss = 0
    for batch in Load_Train_Batches:
        input_id_train=batch[0].to(device)
        attention_mask_train=batch[1].to(device)
        label_train = batch[2].to(device)
        model_outputs = T5Model(input_id_train, attention_mask=attention_mask_train, labels=label_train)
        batch_loss = model_outputs.loss
        epoch_loss = epoch_loss+batch_loss.item()
        batch_loss.backward()
        T5_Model_optimizer.step()
        T5Model.zero_grad()
        torch.cuda.empty_cache()
    Average_Epoch_Loss = epoch_loss / len(Load_Train_Batches)
    print('Epoch '+str(i)+' Loss = '+str(Average_Epoch_Loss))

Epoch 0 Loss = 0.00866663793366024
Epoch 1 Loss = 0.006246779331755534

In [ ]:
#Taking Subset of test dataset
x5_test_encoded1=x5_test_encoded[:500]
x5_test_encoded1

{'input_ids': tensor([[12607,   563,   834,  ...,     0,     0,     0],
         [12607,   563,   834,  ...,     0,     0,     0],
         [12607,   563,   834,  ...,     0,     0,     0],
         ...,
         [12607,   563,   834,  ...,     0,     0,     0],
         [12607,   563,   834,  ...,     0,     0,     0],
         [12607,   563,   834,  ...,     0,     0,     0]]),
 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         ...,
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0],
         [1, 1, 1,  ..., 0, 0, 0]])}

In [ ]:
#Predicting 'GROUP BY' fill detail
T5Model.eval()
with torch.no_grad():
    all_outputs = []
    for i in range(500):
        generated_output = T5Model.generate(
            input_ids=x5_test_encoded1['input_ids'][i:i+1].to(device),
            attention_mask=x5_test_encoded1['attention_mask'][i:i+1].to(device),
            max_length=100,
            num_beams=5,
            early_stopping=True
        )
        all_outputs.append(generated_output)
        torch.cuda.empty_cache()

In [ ]:
#Displaying Test fill detail and Predicted fill detail for 'GROUP BY'
#Stage 2 is done
predicted_code5=[]
for i in all_outputs:
  pred=T5Tokenizer.decode(i[0], skip_special_tokens=True, clean_up_tokenization_spaces=True)
  predicted_code5.append(pred)
for input_text, code in zip(y5_test, predicted_code5):
    print(f"Input: {input_text}\nGenerated Code:\n{code}\n")

Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T1.name ORDER BY COUNT(*) DESC
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T2.lot_id ORDER BY AVG(amount_of_transaction)
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: director HAVING COUNT(*) = 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: address
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: Country
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: country
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T1.id HAVING COUNT(*) >= 3
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: building HAVING COUNT(*) >= 10
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: Product_Name HAVING AVG(Product_Price) < 1000000
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T1.organisation_id ORDER BY COUNT(*) DESC LIMIT 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T1.id HAVING COUNT(*) > 1
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input: T2.artist_name ORDER BY COUNT(*) LIMIT 1
Generated Code:


Input: T2.u_id
Generated Code:


Input: LOCATION
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:


Input:
Generated Code:

In [ ]:
#Stage 3: Query Reconstruction
#Aggregating all the above test components and predicted components
y1=y1_test[:500].reset_index(drop=True)
y2=y2_test[:500].reset_index(drop=True)
y3=y3_test[:500].reset_index(drop=True)
y4=y4_test[:500].reset_index(drop=True)
y5=y5_test[:500].reset_index(drop=True)

In [ ]:
y0=y_test[:500].reset_index(drop=True)

In [ ]:
=x_test[:500].tolist()

In [ ]:
#Through For Loop Displaying Test Code and Predicted code by:
# Concatenating Test Components and Test Fill details
#Concatenating Predicted components and Predicted Fill details
test_list=[]
predicted_list=[]
for i in range(500):
  print('Test Code: ')
  y00=y0[i].split('|')
  y00 = [k.strip() for k in y00]
  t=''
  if 'SELECT' in y00:
    t=t+'SELECT '+y1[i]
  if 'FROM' in y00:
    t=t+' FROM '+y2[i]
  if 'WHERE' in y00:
    t=t+' WHERE '+y3[i]
  if 'ORDER BY' in y00:
    t=t+' ORDER BY '+y4[i]
  if 'GROUP BY' in y00:
    t=t+' GROUP BY '+y5[i]
  print(t)
  test_list.append(t)
  print('Predicted Code: ')
  predicted00=predicted_code0[i].split('|')
  predicted00 = [k.strip() for k in predicted00]
  p=''
  if 'SELECT' in predicted00:
    p=p+predicted00[0]+' '+predicted_code1[i]
  if 'FROM' in predicted00:
    p=p+' '+predicted00[1]+' '+predicted_code2[i]
  if 'WHERE' in predicted00:
    p=p+' '+predicted00[2]+' '+predicted_code3[i]
  if 'ORDER BY' in predicted00:
    p=p+' '+predicted00[3]+' '+predicted_code4[i]
  if 'GROUP BY' in predicted00:
    p=p+' '+predicted00[4]+' '+predicted_code5[i]
  print(p)
  predicted_list.append(p)

Test Code:
SELECT club FROM table_name_96 WHERE  played = "22" AND drawn = "0" AND lost = "14" AND losing_bp = "5"
Predicted Code:
SELECT club FROM table_name_96 WHERE played = "22 rounds" AND drawn = "0" AND losing_bp = 5
Test Code:
SELECT illustrator FROM table_name_79 WHERE  year = 1987
Predicted Code:
SELECT illustrator FROM table_name_79 WHERE year = 1987
Test Code:
SELECT departure_pune FROM table_29301050_1 WHERE  arrival_lonavla = "22:22"
Predicted Code:
SELECT departure_pune FROM table_29301050_1 WHERE arrival_lonavla = "22:22"
Test Code:
SELECT nfl_team FROM table_2508633_6 WHERE  pick__number = 151
Predicted Code:
SELECT nfl_team FROM table_2508633_6 WHERE pick__number = "151"
Test Code:
SELECT player FROM table_name_24 WHERE  country = "united states" AND money___$__ = 356
Predicted Code:
SELECT player FROM table_name_24 WHERE country = "usa" AND money___$__ = "356"
Test Code:
SELECT MIN(stage) FROM table_15088557_1 WHERE  mountains_classification = "Aitor Osa" AND winner = "Aitor González"
Predicted Code:
SELECT stage FROM table_15088557_1 WHERE mountains_classification = "aitor osa" AND winner = "aitor gonzález"
Test Code:
SELECT weight FROM table_name_41 WHERE  denomination = "three paise"
Predicted Code:
SELECT weight FROM table_name_41 WHERE denomination = "three paise"
Test Code:
SELECT chord FROM table_name_73 WHERE  minor_seventh = "f"
Predicted Code:
SELECT Chord FROM table_name_73 WHERE minor_seventh = "f"
Test Code:
SELECT city_state FROM table_name_52 WHERE  status = "2nd runner-up"
Predicted Code:
SELECT city_state FROM table_name_52 WHERE status = 2nd runner-up
Test Code:
SELECT income_poverty_f FROM table_13618358_1 WHERE  services_ & _cons_truction_b = "72.5"
Predicted Code:
SELECT income_poverty_f FROM table_13618358_1 WHERE services_ = "72.5" AND _cons_truction_b = "72.5"
Test Code:
SELECT COUNT(total) FROM table_name_4 WHERE  bronze > 1 AND silver = 1
Predicted Code:
SELECT COUNT(total) FROM table_name_4 WHERE bronze > 1 AND silver = "1" AND silver > 1
Test Code:
SELECT bike FROM table_name_7 WHERE  grid < 23 AND time = "accident" AND rider = "graeme gowland"
Predicted Code:
SELECT bike FROM table_name_7 WHERE grid  23 AND accident under time AND time = "Graeme Gowland"
Test Code:
SELECT COUNT(round) FROM table_26920192_5 WHERE  series = "Italian" AND circuit = "Valencia"
Predicted Code:
SELECT round FROM table_26920192_5 WHERE series = "italinian" AND circuit = "valencia"
Test Code:
SELECT MAX(total) FROM table_name_74 WHERE  rank = 6 AND bronze = 2 AND gold > 0
Predicted Code:
SELECT COUNT(total) FROM table_name_74 WHERE rank > 6 AND bronze 2 AND gold > 0
Test Code:
SELECT date FROM table_name_14 WHERE  game_site = "joe robbie stadium"
Predicted Code:
SELECT date FROM table_name_14 WHERE game_site = "joe robbie stadium"
Test Code:
SELECT SUM(game) FROM table_name_61 WHERE  high_assists = "paul (9)"
Predicted Code:
SELECT MIN(game) FROM table_name_61 WHERE high_assists = "paul (9)"
Test Code:
SELECT team FROM table_name_21 WHERE  bowl = "humanitarian"
Predicted Code:
SELECT team FROM table_name_21 WHERE bowl = "humanitarian"
Test Code:
SELECT location FROM table_name_12 WHERE  novelty = "gen"
Predicted Code:
SELECT location FROM table_name_12 WHERE novelty = "gen"
Test Code:
SELECT play_by_play FROM table_name_80 WHERE  studio_host = "jimmy myers"
Predicted Code:
SELECT studio_host FROM table_name_80 WHERE studio_host = "jimmy myers"
Test Code:
SELECT COUNT(turbine_manufacturer) FROM table_24837750_1 WHERE  installed_capacity__mw_ = "189"
Predicted Code:
SELECT COUNT(turbine_manufacturer) FROM table_24837750_1 WHERE installed_capacity__mw_ = "189"
Test Code:
SELECT home_town FROM table_20785990_2 WHERE  name = "David Noel"
Predicted Code:
SELECT home_town FROM table_20785990_2 WHERE name = "David Noel"
Test Code:
SELECT player FROM table_name_11 WHERE  to_par = "e" AND country = "spain"
Predicted Code:
SELECT player FROM table_name_11 WHERE to_par = "e" AND country = "spain"
Test Code:
SELECT venue FROM table_name_34 WHERE  away_team = "carlton"
Predicted Code:
SELECT venue FROM table_name_34 WHERE away_team = "carlton"
Test Code:
SELECT island FROM table_18946749_1 WHERE  peak = "Mount Wondiwoi"
Predicted Code:
SELECT island FROM table_18946749_1 WHERE peak = "wondiwoi"
Test Code:
SELECT MIN(episode) FROM table_15187735_20
Predicted Code:
SELECT MIN(episode) FROM table_15187735_20 WHERE first_episode = "1"
Test Code:
SELECT driver_s_ FROM table_1266602_2 WHERE  team = "Circle Sport"
Predicted Code:
SELECT driver_s_ FROM table_1266602_2 WHERE team = "circle sport"
Test Code:
SELECT T2.Comptroller FROM election WHERE  T1.District = 1 OR T1.District = 2
Predicted Code:
SELECT COMPTroller FROM party WHERE district = "1" OR district = "2"
Test Code:
SELECT release_date FROM table_name_71 WHERE  title = "inki and the minah bird"
Predicted Code:
SELECT release_date FROM table_name_71 WHERE title = "Inki and the Minah Bird"
Test Code:
SELECT MIN(released) FROM table_name_15 WHERE  pieces = 339 AND number < 7198
Predicted Code:
SELECT release FROM table_name_15 WHERE pieces = 339 AND number  7198
Test Code:
SELECT season FROM table_10748727_1 WHERE  points = "9"
Predicted Code:
SELECT season FROM table_10748727_1 WHERE points = "9"
Test Code:
SELECT AVG(wins) FROM table_name_41 WHERE  losses = 14 AND against > 2200
Predicted Code:
SELECT AVG(wins) FROM table_name_41 WHERE losses > 14 AND against > 2200
Test Code:
SELECT percent_defective FROM table_222448_1 WHERE  sigma__with_15σ_shift_ = "2.5"
Predicted Code:
SELECT percentage_defective FROM table_222448_1 WHERE sigma__with_15_shift_ = 2.5
Test Code:
SELECT MAX(against) FROM table_name_91 WHERE  venue = "wembley stadium , london"
Predicted Code:
SELECT INTEGER, venue FROM table_name_91 WHERE venue = "wembley stadium, london"
Test Code:
SELECT date FROM table_name_38 WHERE  fastest_lap = "gunnar nilsson"
Predicted Code:
SELECT date FROM table_name_38 WHERE fastest_lap = "gunnar nilsson"
Test Code:
SELECT MAX(laps) FROM table_name_67 WHERE  rider = "marco melandri"
Predicted Code:
SELECT highest laps FROM table_name_67 WHERE rider = "marco melandri"
Test Code:
SELECT score FROM table_name_45 WHERE  result = "loss" AND year = "1980" AND competition = "world group, consolation round"
Predicted Code:
SELECT score FROM table_name_45 WHERE result = "loss" AND year = 1980 AND competition = "world group, consolation round"
Test Code:
SELECT date FROM table_name_81 WHERE  venue = "brunswick street oval"
Predicted Code:
SELECT date FROM table_name_81 WHERE venue = "busswick street oval"
Test Code:
SELECT name, open_date FROM church ORDER BY open_date DESC LIMIT 3
Predicted Code:
SELECT name FROM church WHERE open_date = "most recent"
Test Code:
SELECT away_team FROM table_name_7 WHERE  home_team = "carlton"
Predicted Code:
SELECT away_team FROM table_name_7 WHERE home_team = "Carlton"
Test Code:
SELECT nation FROM table_name_46 WHERE  silver < 3 AND total > 1 AND gold < "4" AND rank = "4"
Predicted Code:
SELECT nation FROM table_name_46 WHERE gold  3 AND silver  4 AND total  4
Test Code:
SELECT opponent FROM table_name_69 WHERE  result = "w 20-17"
Predicted Code:
SELECT opponent FROM table_name_69 WHERE result = "w 20-17"
Test Code:
SELECT institution FROM table_name_48 WHERE  location = "big rapids, michigan"
Predicted Code:
SELECT institution FROM table_name_48 WHERE location = "big rapids, michigan"
Test Code:
SELECT races FROM table_name_43 WHERE  series = "gp2 series" AND fl = "0" AND position = "17th"
Predicted Code:
SELECT races FROM table_name_43 WHERE series = "gp2" AND position = "0" AND fl = "17th"
Test Code:
SELECT season FROM table_name_97 WHERE  _number_of_episodes = 10 AND date_released = "1 april 2010"
Predicted Code:
SELECT season FROM table_name_97 WHERE _number_of_episodes = 10 AND date_released = "1 April 2010"
Test Code:
SELECT opponent FROM table_name_42 WHERE  year = 1999 AND partner = "choong tan fook"
Predicted Code:
SELECT opponent FROM table_name_42 WHERE year = 1999 AND partner = "choong tan fook"
Test Code:
SELECT MAX(year_of_release) FROM table_name_98 WHERE  title = "death valley"
Predicted Code:
SELECT year_of_release FROM table_name_98 WHERE title = "death valley"
Test Code:
SELECT constructor FROM table_name_63 WHERE  grid = 2
Predicted Code:
SELECT CONSTRUCTOR FROM table_name_63 WHERE grid = 2
Test Code:
SELECT COUNT(losses) FROM table_name_75 WHERE  draw < 51 AND wins > 6
Predicted Code:
SELECT loss FROM table_name_75 WHERE draw  51 AND wins > 6
Test Code:
SELECT college FROM table_20649850_1 WHERE  position = "OL"
Predicted Code:
SELECT college FROM table_20649850_1 WHERE position = "ol"
Test Code:
SELECT location FROM table_1137704_2 WHERE  date = "5 April"
Predicted Code:
SELECT location FROM table_1137704_2 WHERE date = 5 april
Test Code:
SELECT COUNT(*), T1.name FROM airports ORDER BY COUNT(*) DESC GROUP BY T1.name ORDER BY COUNT(*) DESC
Predicted Code:
SELECT COUNT(*) FROM routes WHERE name = "source airport" AND apid = "src_apid"
Test Code:
SELECT leading_scorer FROM table_name_28 WHERE  date = "february 25"
Predicted Code:
SELECT leading_scorer FROM table_name_28 WHERE date = "february 25"
Test Code:
SELECT class FROM table_name_34 WHERE  prom__m_ > 30 AND peak = "sail"
Predicted Code:
SELECT class FROM table_name_34 WHERE prom__m_ > 30 AND peak = "sail"
Test Code:
SELECT AVG(silver) FROM table_name_23 WHERE  nation = "belarus" AND total < 1
Predicted Code:
SELECT silver FROM table_name_23 WHERE nation  1 AND total  1
Test Code:
SELECT opponent FROM table_name_30 WHERE  round = 3
Predicted Code:
SELECT opponent FROM table_name_30 WHERE round = "3"
Test Code:
SELECT socket FROM table_name_55 WHERE  model_number = "atom e680t"
Predicted Code:
SELECT socket FROM table_name_55 WHERE model_number = "e680t"
Test Code:
SELECT COUNT(age) FROM table_24501530_1 WHERE  candidate = "Amy Cato"
Predicted Code:
SELECT age FROM table_24501530_1 WHERE candidate = "Amy Cato"
Test Code:
SELECT MAX(attendance) FROM table_name_36 WHERE  result = "l 26-16" AND week < 12
Predicted Code:
SELECT attendance FROM table_name_36 WHERE result = "l 26-16" AND week  12
Test Code:
SELECT COUNT(crowd) FROM table_name_17 WHERE  away_team = "geelong"
Predicted Code:
SELECT COUNT(crowd) FROM table_name_17 WHERE away_team = "geelong"
Test Code:
SELECT school_year FROM table_name_61 WHERE  class_aAAA = dickinson
Predicted Code:
SELECT school_year FROM table_name_61 WHERE class_aAAA = "dickinson" AND dickinson = "dickinson"
Test Code:
SELECT COUNT(Ends) AS lost FROM table_26745426_2 WHERE  stolen_ends = 6
Predicted Code:
SELECT Ends FROM table_26745426_2 WHERE stolen_ends = 6
Test Code:
SELECT COUNT(team) FROM table_23284271_7 WHERE  score = "W 99–91 (OT)"
Predicted Code:
SELECT team FROM table_23284271_7 WHERE score = "w 99–91 (ot)"
Test Code:
SELECT third FROM table_name_58 WHERE  skip = "ellen vogt"
Predicted Code:
SELECT third FROM table_name_58 WHERE skip = "ellen vogt"
Test Code:
SELECT home FROM table_name_99 WHERE  attendance = 507
Predicted Code:
SELECT home FROM table_name_99 WHERE attendance = "507"
Test Code:
SELECT race FROM table_name_5 WHERE  margin = "8"
Predicted Code:
SELECT race FROM table_name_5 WHERE margin = 8
Test Code:
SELECT money___$__ FROM table_name_70 WHERE  score = 69 - 71 - 69 - 72 = 281
Predicted Code:
SELECT money___$__ FROM table_name_70 WHERE score = "69-71-69-72=281"
Test Code:
SELECT MAX(1948 AS _49__) AS $_millions_ FROM table_19766_1 WHERE  country = "Iceland"
Predicted Code:
SELECT COUNT(country) FROM table_19766_1 WHERE country = "island"
Test Code:
SELECT department FROM table_name_25 WHERE  qualification = "m.phil (physics)"
Predicted Code:
SELECT department FROM table_name_25 WHERE qualification = "m.phil (physics)"
Test Code:
SELECT SUM(league) AS Cup FROM table_name_42 WHERE  scottish_cup > 69
Predicted Code:
SELECT league FROM table_name_42 WHERE scottish_cup > 69
Test Code:
SELECT capital FROM table_name_7 WHERE  area_in_1000km²__1930_ = "20,4"
Predicted Code:
SELECT capital FROM table_name_7 WHERE area_in_1000km2__1930_ = "20,4"
Test Code:
SELECT dimensions FROM table_298883_5 WHERE  obverse = "Kim Il-sung" AND date_of_issue = "1992"
Predicted Code:
SELECT dimensions FROM table_298883_5 WHERE obverse = 1992 AND date_of_issue = "kim il-sung"
Test Code:
SELECT vertical_0_b FROM table_25519358_1 WHERE  horizontal_0_a = "明勾（YS月南）"
Predicted Code:
SELECT vertical_0_b FROM table_25519358_1 WHERE horizontal_0_a = "ys"
Test Code:
SELECT position FROM table_2781227_9 WHERE  player = "Barrie Moore"
Predicted Code:
SELECT position FROM table_2781227_9 WHERE player = "barrie moore"
Test Code:
SELECT COUNT(year) FROM table_name_77 WHERE  location = "sopot" AND score = "2–6, 6–2, 6–3"
Predicted Code:
SELECT year FROM table_name_77 WHERE location = "sopot" AND score = "2–6, 6–2, 6–3"
Test Code:
SELECT COUNT(gold) FROM table_name_80 WHERE  silver < 14 AND rank > 8 AND bronze = 3
Predicted Code:
SELECT gold FROM table_name_80 WHERE silver  14 AND rank > 8 AND bronze  3
Test Code:
SELECT overall_place FROM table_name_57 WHERE  yacht_name = "lg flatron"
Predicted Code:
SELECT overall_place FROM table_name_57 WHERE yacht_name = "lg flatron"
Test Code:
SELECT date FROM table_name_74 WHERE  home_team = "geelong"
Predicted Code:
SELECT date FROM table_name_74 WHERE home_team = "geelong"
Test Code:
SELECT runner_s__up FROM table_name_60 WHERE  championship = "women's western open" AND year = 1946
Predicted Code:
SELECT runner_s__up FROM table_name_60 WHERE championship = "women's western open" AND year = 1946
Test Code:
SELECT Name FROM phone WHERE  Carrier = "Sprint" OR Carrier = "TMobile"
Predicted Code:
SELECT Name FROM phone WHERE Name = "Sprint" AND Carrier = "TMobile"
Test Code:
SELECT MAX(males_rank) FROM table_name_93 WHERE  females___percentage_ < 40 AND females_rank < 22
Predicted Code:
SELECT males_rank FROM table_name_93 WHERE females___percentage_  40 AND females_rank  22
Test Code:
SELECT AVG(rounds) FROM table_name_1 WHERE  champion = "new zealand (130 points)"
Predicted Code:
SELECT round_name_1 FROM table_name_1 WHERE champion = "new zealand"
Test Code:
SELECT date FROM table_name_32 WHERE  high_assists = "ramon sessions (8)" AND high_points = "richard jefferson (29)" AND score = "w 107–78 (ot)"
Predicted Code:
SELECT date FROM table_name_32 WHERE score = "w 107–78 (ot)" AND high_assists = "ramon sessions (8)" AND high_points = "richard jefferson (29)"
Test Code:
SELECT COUNT(stolen_ends) FROM table_name_83 WHERE  ends_lost < 44 AND blank_ends < 7
Predicted Code:
SELECT COUNT(stolen_ends) FROM table_name_83 WHERE ends_lost = 44 AND blank_ends  7
Test Code:
SELECT MAX(rank) FROM table_name_58 WHERE  events = 26 AND wins > 0
Predicted Code:
SELECT MIN(rank) FROM table_name_58 WHERE events > 0 AND wins > 26
Test Code:
SELECT class FROM table_name_91 WHERE  verb_meaning = "to run"
Predicted Code:
SELECT class FROM table_name_91 WHERE verb_meaning = "to run"
Test Code:
SELECT player FROM table_name_89 WHERE  team = "fort wayne pistons" AND position = "f"
Predicted Code:
SELECT player FROM table_name_89 WHERE team = "fort Wayne pistons" AND position = "f"
Test Code:
SELECT COUNT(barony) FROM table_30121075_1 WHERE  townland = "Derrigra"
Predicted Code:
SELECT barony FROM table_30121075_1 WHERE townland = "derrigra"
Test Code:
SELECT time FROM table_name_70 WHERE  set_3 = "25–14"
Predicted Code:
SELECT time FROM table_name_70 WHERE set_3 = "25–14"
Test Code:
SELECT date FROM table_name_37 WHERE  catalog = "ha-m 2230"
Predicted Code:
SELECT date FROM table_name_37 WHERE catalog = "ha-m 2230"
Test Code:
SELECT sspec_number FROM table_16729930_18 WHERE  tdp = "3.6 W" AND model_number = "Atom E665C"
Predicted Code:
SELECT sspec_number FROM table_16729930_18 WHERE tdp = "3.6" AND model_number = "atom e665c"
Test Code:
SELECT spending_per_capita FROM table_14700336_1 WHERE  revenue_per_capita = "$7,755"
Predicted Code:
SELECT spending_per_capita FROM table_14700336_1 WHERE revenue_per_capita = "7,755"
Test Code:
SELECT rōmaji FROM table_2144389_8 WHERE  japanese_translation = "By Your Side ~Hikari's Theme~ (PopUp.Version)"
Predicted Code:
SELECT rmaji FROM table_2144389_8 WHERE japanese_translation = "hikari's theme"
Test Code:
SELECT MIN(react) FROM table_name_50 WHERE  lane = 5
Predicted Code:
SELECT REACT FROM table_name_50 WHERE lane = 5
Test Code:
SELECT time_retired FROM table_name_44 WHERE  driver = "riccardo patrese"
Predicted Code:
SELECT time_retired FROM table_name_44 WHERE driver = "Riccardo Patrese"
Test Code:
SELECT opponent_in_the_final FROM table_name_88 WHERE  partnering = "graydon oliver"
Predicted Code:
SELECT Opponent_in_the_final FROM table_name_88 WHERE partnering = "graydon oliver"
Test Code:
SELECT COUNT(qualifying_start_date) FROM table_23995075_2 WHERE  confederation = "CONCACAF"
Predicted Code:
SELECT qualification_start_date FROM table_23995075_2 WHERE confederation = "concacaf"
Test Code:
SELECT SUM(week) FROM table_name_71 WHERE  attendance = "39,923"
Predicted Code:
SELECT week FROM table_name_71 WHERE attendance = 39,923
Test Code:
SELECT sample_size FROM table_name_4 WHERE  date_s__administered = "march 24, 2010"
Predicted Code:
SELECT sample_size FROM table_name_4 WHERE date_s__administered = "marz 24, 2010"
Test Code:
SELECT player FROM table_name_87 WHERE  money___£__ = "playoff" AND country = "united states"
Predicted Code:
SELECT player FROM table_name_87 WHERE money___£__ = "usa" AND country = "usa"
Test Code:
SELECT T2.lot_id, AVG(amount_of_transaction) FROM TRANSACTIONS ORDER BY AVG(amount_of_transaction) GROUP BY T2.lot_id ORDER BY AVG(amount_of_transaction)
Predicted Code:
SELECT MAX(lot_id) FROM Transactions_Lots WHERE transaction_id = "0" AND transaction_id = "0"
Test Code:
SELECT COUNT(name) FROM table_19061741_3 WHERE  duration = "Days 1-86"
Predicted Code:
SELECT name FROM table_19061741_3 WHERE duration = "days 1-86"
Test Code:
SELECT solo FROM table_15128839_22 WHERE  name = "Briggs, Diyral"
Predicted Code:
SELECT solo FROM table_15128839_22 WHERE name = "briggs, diyral"
Test Code:
SELECT date FROM table_name_28 WHERE  away_team = "wycombe wanderers"
Predicted Code:
SELECT date FROM table_name_28 WHERE away_team = "wycombe wanderers"
Test Code:
SELECT attendance FROM table_11964047_5 WHERE  score = "L 92–101"
Predicted Code:
SELECT attendance FROM table_11964047_5 WHERE score = "l 92–101"
Test Code:
SELECT SUM(enrollment), AVG(enrollment) FROM school
Predicted Code:
SELECT COUNT(enrollment) FROM school WHERE school = "all"
Test Code:
SELECT winning_driver FROM table_16670746_2 WHERE  circuit = "Okayama International circuit"
Predicted Code:
SELECT winning_driver FROM table_16670746_2 WHERE circuit = "okama international circuit"
Test Code:
SELECT team_s_ FROM table_2463383_2 WHERE  avg_start = "20.5"
Predicted Code:
SELECT team_s_ FROM table_2463383_2 WHERE avg_start = "20.5"
Test Code:
SELECT COUNT(*) FROM program
Predicted Code:
SELECT COUNT(*) FROM program WHERE program = "id"
Test Code:
SELECT finish FROM table_name_55 WHERE  total < 292 AND year_s__won = "1978"
Predicted Code:
SELECT finish FROM table_name_55 WHERE total  292 AND year_s__won = 1978
Test Code:
SELECT kit_manufacturer FROM table_name_63 WHERE  shirt_sponsor = "walkers"
Predicted Code:
SELECT kit_manufacturer FROM table_name_63 WHERE shirt_sponsor = "walkers"
Test Code:
SELECT djurgården_scorers FROM table_name_87 WHERE  score = "2-1"
Predicted Code:
SELECT djurgrden_scorers FROM table_name_87 WHERE score = "2-1"
Test Code:
SELECT T1.Name, T1.population FROM country ORDER BY T2.Height DESC LIMIT 1
Predicted Code:
SELECT name FROM country WHERE height = "highest" AND country_ID = "highest"
Test Code:
SELECT incumbent FROM table_1341453_44 WHERE  first_elected = 1984
Predicted Code:
SELECT incumbent FROM table_1341453_44 WHERE first_elected = 1984
Test Code:
SELECT read_by FROM table_name_9 WHERE  un__abridged = "unabridged" AND author = "gary paulsen"
Predicted Code:

In [ ]:
pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Downloading rapidfuzz-3.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 42.4 MB/s eta 0:00:00
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.10.1

In [ ]:
#Using Test List and Predicted list retrieving Fuzz Ratio Metric Score
from rapidfuzz import fuzz
total=0
for i in range(0,500):
  result=fuzz.ratio(test_list[i],predicted_list[i])
  total=total+result

print(total/500)

91.4104434809133

In [ ]:
pip install rouge-score

Collecting rouge-score
  Downloading rouge_score-0.1.2.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from rouge-score) (1.4.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from rouge-score) (3.9.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from rouge-score) (1.26.4)
Requirement already satisfied: six>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from rouge-score) (1.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (2024.9.11)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->rouge-score) (4.66.6)
Building wheels for collected packages: rouge-score
  Building wheel for rouge-score (setup.py) ... done
  Created wheel for rouge-score: filename=rouge_score-0.1.2-py3-none-any.whl size=24935 sha256=6c5b0d52babbcfb6b058c87fa7ab96f89eaeacbfe52d1c40a4761ce864e9066e
  Stored in directory: /root/.cache/pip/wheels/5f/dd/89/461065a73be61a532ff8599a28e9beef17985c9e9c31e541b4
Successfully built rouge-score
Installing collected packages: rouge-score
Successfully installed rouge-score-0.1.2

In [ ]:
#Using Test List and Predicted list retrieving Rouge(R1,R2,RL) Metric Score
from rouge_score import rouge_scorer

scorer = rouge_scorer.RougeScorer(['rouge1', 'rouge2', 'rougeL'], use_stemmer=False)
R1=[]
R2=[]
RL=[]
for i in range(0,500):
  scores = scorer.score(test_list[i], predicted_list[i])
  R1.append(scores['rouge1'].fmeasure)
  R2.append(scores['rouge2'].fmeasure)
  RL.append(scores['rougeL'].fmeasure)

for i in range(0,500):
  sum_R1=sum(R1)
  sum_R2=sum(R2)
  sum_RL=sum(RL)

print('Rouge1 Score: '+str(sum_R1/500))
print('Rouge2 Score: '+str(sum_R2/500))
print('RougeL Score: '+str(sum_RL/500))

Rouge1 Score: 0.9254991466021099
Rouge2 Score: 0.8604519015826005
RougeL Score: 0.9152792638922922

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.9.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.6)

In [ ]:
#Using Test List and Predicted list retrieving BLEU Metric Score
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
bleu=[]
for i in range(0,500):
  reference_tokens = [test_list[i].split()]
  generated_tokens = predicted_list[i].split()
  smoothing = SmoothingFunction().method2
  bleu_score = sentence_bleu(reference_tokens, generated_tokens, smoothing_function=smoothing)
  bleu.append(bleu_score)

sum_bleu=(sum(bleu))/500
print(f"BLEU Score: {sum_bleu:.4f}")

BLEU Score: 0.7165

In [ ]:
#References:
#[1].T5. (n.d.). https://huggingface.co/docs/transformers/en/model_doc/t5
#[2]. Dutta, N. (2024, October 7). Fuzzy String Matching – a hands-on guide. Analytics Vidhya. https://www.analyticsvidhya.com/blog/2021/07/fuzzy-string-matching-a-hands-on-guide/
#[3].Isaacndirangumuturi. (2023, October 5). Code Generation with T5 Transformer. Kaggle. https://www.kaggle.com/code/isaacndirangumuturi/code-generation-with-t5-transformer
#[4].b-mc2/sql-create-context · Datasets at Hugging Face. (2001, May 12). https://huggingface.co/datasets/b-mc2/sql-create-context?row=0
#[5]. [PDF] Seq2SQL: Generating Structured Queries from Natural Language using Reinforcement Learning | Semantic Scholar. (2017, August 31). https://www.semanticscholar.org/reader/cbd569036fc72ae7ff747350b91816440282596b